* {
  box-sizing: border-box;
}

.site-header {
  position: relative;
  z-index: 1000;
}

.faq-section {
  padding: 55px 0 80px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.filter-btn {
  display: flex;
  padding: var(--spacing-12, 5px) var(--spacing-16, 16px);
  align-items: center;
  gap: var(--spacing-8, 8px);
  border-radius: 50px;
  border: 1px solid var(--border-slate-darker-80, rgba(88, 105, 129, 0.8));
  background: var(--background-white, #fff);

  color: var(--text-primary, #10243d);
  font-size: var(--Size-main, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  cursor: pointer;
  letter-spacing: 0.01em;
  transition: all 0.3s ease;
}

.filter-btn:hover {
  background: #eaf0f6;
  border-color: #10243d;
}

.filter-btn.active {
  border: 1px solid var(--border-slate-darker, rgba(88, 105, 129, 0.3));
  background: var(--background-deep-navy, #10243d);
  color: var(--text-inverse, #fff);
}

.category-filter__list .owl-stage-outer {
  width: 100% !important;
}

.category-filter {
  position: relative;
  max-width: 1440px;
  margin-bottom: 63px;
}

.owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.owl-prev,
.owl-next {
  background-color: #10243d !important;
  color: #fff !important;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  margin: 0 64px !important;
}

.category-filter__list .owl-stage-outer {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.category-filter__list .spacer {
  width: 48px !important;
  flex-shrink: 0;
}

.category-filter__list .owl-item {
  width: auto !important;
}

.owl-nav button.disabled {
  opacity: 0;
  visibility: hidden;
}

.category-filter__list .owl-stage-outer {
  overflow: hidden;
}

.faq-intro {
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
  gap: 15px;
  /* margin-bottom: 64px; */
  margin-bottom: 53px;
}

.faq-label {
  color: var(--text-muted, rgba(26, 58, 85, 0.7));
  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-main, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.faq-title {
  color: var(--text-primary, #10243d);
  text-align: center;
  font-family: var(--Family-Heading, "Instrument Serif");
  font-size: var(--Size-H2, 72px);
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}

.faq-subtitle {
  color: var(--text-primary, #10243d);
  font-family: var(--Family-Body, "General Sans Variable");
  text-align: center;
  font-size: var(--Size-text-xl, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.faq-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-24, 24px);
  max-width: 880px;
  margin: 0 auto;
  /* align-self: stretch; */
}

.faq-item {
  width: 100%;
  cursor: pointer;
  border-radius: var(--radius-small, 8px);
  border: var(--Stroke-Border-Width, 1px) solid
    var(--border-slate-darker, rgba(88, 105, 129, 0.3));
  background: var(--background-mist, #e8eef2);
  display: flex;
  flex-direction: column;
}

.faq-header {
  display: flex;
  padding: var(--spacing-24-16, 24px);
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-8, 8px);
  align-self: stretch;
  height: 70.5px;
}

.faq-header .question {
  color: var(--text-primary, #10243d);
  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-text-xl, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* line-height: 0.8; */
}

.faq-header svg {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  min-width: 24px;
  min-height: 24px;
  flex-shrink: 0;
}

.faq-header .icon-close {
  display: none;
}
.faq-header .icon-down {
  display: block;
}

.faq-header.active .icon-down {
  display: none;
}
.faq-header.active .icon-close {
  display: block;
}

.faq-item summary::-webkit-details-marker {
  display: none;
}

.faq-content {
  display: none;
  /* border-top: 1px solid #cbd5e0; */
  /* padding: var(--spacing-24-16, 24px); */
  padding: 0 24px 24px;

  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-small, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

.faq-content p {
  color: var(--text-primary, #10243d);
}

.faq-item {
  display: flex;
}

.faq-item.hidden {
  display: none !important;
}

@media (max-width: 900px) {
  .faq-list {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .faq-section {
    /* padding: 81.45px 0px 80px; */
    padding: 100px 0px 80px;
  }

  .faq-intro {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 30px;
  }

  .faq-label {
    font-size: var(--Size-main, 16px);
  }

  .faq-title {
    font-size: var(--Size-H2, 48px);
  }

  .faq-subtitle {
    font-size: var(--Size-text-xl, 20px);
  }

  .category-filter {
    margin-bottom: 41px;
  }

  .filter-btn {
    font-size: var(--Size-main, 16px);
  }

  .faq-list {
    max-width: 100%;
    padding: 0 var(--spacing-16, 16px);
  }

  .faq-header {
    padding: 12px 16px;
    height: unset;
  }

  .faq-content {
    padding: 0 16px 16px;
  }

  /* .faq-header.one {
    padding: 12px 16px;
  } */

  .faq-header .question {
    font-size: var(--Size-text-xl, 20px);
    /* line-height: 1.5; */
  }

  .category-filter__list .spacer {
    width: 0px !important;
    flex-shrink: 0;
  }

  .owl-prev,
  .owl-next {
    margin: 0 16px !important;
  }
}

@media (max-width: 375px) {
  .faq-header {
    padding: 7px 16px;
  }

  .faq-header.one {
    padding: 12px 16px;
  }
}

/*blog*/

.blog-container {
  max-width: 1440px;
  margin: 0 auto;
}

.page-intro {
  padding: 58px 64px 75px;
  /* max-width: 1312px; */
  margin: 0 auto;
  background: var(--background-white-50, #fdfeff);
}

.page-intro__content {
  max-width: 791px;
}

.page-intro__sub-heading {
  display: inline-block;
  color: var(--text-muted, rgba(26, 58, 85, 0.7));
  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-main, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 30.6px */
  letter-spacing: 0.36px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.page-intro__main-heading {
  color: var(--text-primary, #10243d);
  font-family: var(--Family-Heading, "Instrument Serif");
  /* font-size: var(--Size-H1, 88px); */
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 101.2px */
  margin-bottom: 10px;
}

.page-intro__tagline {
  color: var(--text-primary, #10243d);
  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-text-xl, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  margin-bottom: 22px;
}
.page-intro__desc {
  color: var(--text-primary, #10243d);
  /* text-main/Medium */
  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-main, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

.featured-blog {
  background: #e8eef2;
  padding: 112px 64px 0;
}

.featured-card {
  margin: 0 auto;
  /* max-width: 1312px; */
  padding: 32px 24px;
  display: flex;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: stretch;
  gap: 64px;
}

.featured-image {
  flex: 1;
  border-radius: var(--radius-small, 8px);
  background: #d7d7d7;
  height: 436px;
}

.featured-image img {
  width: 100%;
  height: 100%;
  display: block;
}

.featured-content {
  flex: 1; /* Chiếm 50% chiều rộng */
  /* padding: 40px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.category {
  display: flex;
  padding: 3px 12px;
  align-items: center;
  gap: var(--spacing-8, 8px);
  color: var(--text-primary, #10243d);
  /* Tag */
  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-main, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 28.8px */

  border-radius: 50px;
  border: 1px solid var(--border-slate-darker, rgba(88, 105, 129, 0.3));
  background: var(--background-mist, #e8eef2);
}

.date {
  color: var(--text-primary, #10243d);
  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-main, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 30.6px */
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

.featured-body,
.post-body {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.featured-title,
.post-title {
  color: var(--text-primary, #10243d);
  /* Heading/H4 */
  font-family: var(--Family-Heading, "Instrument Serif");
  /* font-size: var(--Size-H4, 54px); */
  font-style: normal;
  font-weight: 400;
  /* line-height: 12%; */
  line-height: 1;
}

.post-title.heading-4 a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.featured-excerpt,
.post-excerpt {
  color: var(--text-primary, #10243d);
  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-main, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

.read-more {
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  height: 54px;
  align-items: center;
  gap: var(--spacing-4, 4px);
  color: var(--Button-Tertiary-text, #10243d);
  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-small, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.read-more:hover {
  color: #4a5568;
}

.arrow-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  transition: transform 0.3s ease;
}

.read-more:hover .arrow-icon {
  transform: translateX(5px);
}

.blog-listing {
  background: #e8eef2;
  padding: 79px 0 112px;
}

.blog-filter {
  /* max-width: 1312px; */
  padding: 0 64px;
  margin: 0 auto;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.post-card {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-32, 32px) var(--spacing-24, 24px)
    var(--spacing-16, 16px) var(--spacing-24, 24px);
  align-items: flex-start;
  gap: 33px;
  /* flex: 1 0 0; */
  border-radius: var(--radius-main, 16px);
}

.post-card.one {
  background: var(--background-white, #fff);
}

.post-card.two {
  background: var(--background-sand-40, rgba(204, 188, 168, 0.4));
}

.post-card.three {
  background: var(--background-navy-elevated, #1e3f62);
  color: #fff;
}

.post-card.three .date,
.post-card.three .post-title,
.post-card.three .post-excerpt,
.post-card.three .read-more,
.post-card.three .read-more svg {
  color: #fff;
}

.load-more-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.load-more-btn {
  display: inline-flex;
  height: 54px;
  padding: var(--spacing-16, 16px);
  align-items: center;
  gap: var(--spacing-4, 4px);
  border-radius: var(--radius-small, 8px);
  border: 0.5px solid var(--Button-Primary-border, #1e3f62);
  background: var(--Button-Primary-background, #10243d);
  color: var(--Button-Primary-text, #fff);
  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-small, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.icon-wrapper {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.filter-btn.blog {
  letter-spacing: 0.02em;
}

@media (max-width: 1023px) {
  .page-intro {
    padding: 58px 30px 75px;
  }

  .page-intro__sub-heading {
    font-size: 16px;
  }

  .page-intro__tagline {
    font-size: 20px;
    margin-bottom: 18px;
  }

  .page-intro__desc {
    font-size: 16px;
  }

  .featured-blog {
    padding: 80px 30px 0;
  }

  .featured-card {
    gap: 30px;
  }

  .featured-image {
    height: unset;
  }

  .featured-content {
    gap: 30px;
  }

  .category {
    font-size: 16px;
  }

  .date {
    font-size: 16px;
  }

  .featured-excerpt,
  .post-excerpt {
    font-size: 16px;
  }

  .read-more {
    font-size: 15px;
  }

  .blog-filter {
    padding: 0 30px;
  }

  .blog-listing {
    padding: 80px 0 80px;
  }

  .blog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .page-intro {
    padding: 88px 16px 75px;
  }

  .featured-blog {
    padding: 80px 16px 0px;
  }

  .featured-image {
    flex: none;
    height: 200px;
  }

  .featured-image img {
    height: 100%;
  }

  .featured-card {
    display: flex;
    flex-direction: column;
    padding: 32px 24px 16px;
    gap: 40px;
  }

  .featured-content {
    gap: 28px;
  }

  .featured-body,
  .post-body {
    gap: 18px;
  }

  .blog-listing {
    padding: 62px 0 80px;
  }

  .blog-filter {
    padding: 0 16px;
  }

  .blog-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  .post-card {
    gap: 28px;
  }

  .load-more-wrapper {
    margin-top: 40px;
  }
}

/*meet the team*/
.meet-container {
  max-width: 1440px;
  margin: 0 auto;
}

.founder-led {
  background: var(--background-deep-navy, #10243d);
  padding: 112px 64px;
}

.founder-led__title {
  color: var(--text-inverse, #fff);
  font-family: var(--Family-Heading, "Instrument Serif");
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 82.8px */
  max-width: 765px;
  margin-bottom: 40px;
}

.founder-led__content {
  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-text-xl, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  max-width: 765px;
}

.founder-led__description,
.founder-led__note {
  color: var(--text-inverse, #fff);
}

.founder-led__image {
  margin-top: 80px;
  border-radius: var(--radius-main, 16px);
}

/*team-grid*/
.team-grid {
  padding: 112px 64px;
  background: var(--background-mist, #e8eef2);
}

.team-grid__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px 40px;
}

.team-card__image {
  height: 305px;
  border-radius: var(--radius-main, 16px);
  background: var(--White-25, #f7f7f7);
  margin-bottom: 24px;
}

.team-card__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.team-card__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.team-card__role {
  color: var(--text-muted, rgba(26, 58, 85, 0.7));
  /* Eyebrow */
  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-main, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 30.6px */
  letter-spacing: 0.36px;
  text-transform: uppercase;
}

.team-card__name {
  color: var(--text-primary, #10243d);
  /* Heading/H6/Instrument */
  font-family: var(--Family-Heading, "Instrument Serif");
  font-size: var(--Size-H6, 32px);
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 43.2px */
}

.team-card__location {
  display: flex;
  align-items: center;
  gap: 8px;
}

.team-card__bio {
  color: var(--text-muted, rgba(26, 58, 85, 0.7));
  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-small, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

.team-card__link {
  color: var(--text-primary, #10243d);
  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-main, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  display: flex;
  align-items: center;
  height: 48px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Lớp nền mờ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 40px;
  border-radius: 16px;
  width: 90%;
  max-width: 600px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}

/*differentiator*/
.differentiator {
  padding: 112px 64px;
}

.differentiator__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.differentiator__content {
  max-width: 642px;
}

.differentiator__label {
  color: var(--text-muted, rgba(26, 58, 85, 0.7));
  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-main, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 30.6px */
  letter-spacing: 0.36px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 40px;
}

.differentiator__title {
  color: var(--text-primary, #10243d);
  font-family: var(--Family-Heading, "Instrument Serif");
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 64.8px */
  margin-bottom: 40px;
}

.differentiator__text {
  color: var(--text-primary, #10243d);
  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-main, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

.differentiator__image {
  width: 535px;
  height: 622px;
}

.differentiator__image img {
  /* min-height: 500px; */
  background: #d7d7d7;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
