.document-hero{
    padding: 66px 0 80px;
}

.document-hero .label-section{
    margin-bottom: 15px;
}

.document-hero .heading-1{
    margin-bottom: 9px;
    color: var(--text-primary, #10243d);
}

.document-hero__inner{
    max-width: 791px;
}

.document-hero .desc-section{
    
    margin-bottom: 31px;
}

.document-hero__box{
    border-radius: var(--radius-small, 8px);
    border: 1px solid var(--border-slate-darker, rgba(88, 105, 129, 0.30));
    background: var(--background-mist, #E8EEF2);
    display: flex;
    padding: 24px 31px;
    align-items: flex-start;
    gap: var(--spacing-12, 12px);
}

.document-hero__box p{
    color: #10243D;
}

.document-hero__box svg{
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin-top: 7px;
}

.why-list{
    padding: 112px 0;
    background: #E8EEF2;
}

.why-list__top{
    max-width: 973px;
    margin: 0 auto 40px;
}

.why-list .label-section{
    margin-bottom: 19px;
}

.why-list .heading-2{
    margin-bottom: 15px;
}

.why-list .why-list__desc{
    color: #10243D;
    margin-bottom: 73px;
}

.why-list .why-list__subtitle{
    color: #10243D;
}

.why-list__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px
}

.why-list__card{
    border-radius: var(--radius-main, 16px);
    background: var(--background-white, #FFF);
    display: flex;
    padding: 41px 32px 17px;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.why-list__card-number{
    color: var(--text-primary, #10243D);
    font-size: var(--Size-Number-small, 44px);
    font-weight: 400;
    line-height: calc(32 / 44);
    font-family: var(--Family-Heading);
}

.why-list__card-title{
    color: var(--text-primary, #10243D);
    font-size: var(--Size-H6, 32px);
    font-style: normal;
    font-weight: 400;
    line-height: 1.35;
}

.why-list__card-text{
    color: #10243D;
    margin: 0;
}

.why-list__card-link{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 15px 0;
    color: var(--Button-Tertiary-text, #10243D);
    font-size: var(--Size-small, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-top: 10px;
}

.doc-required__top {
    max-width: 895px;
    margin: 0 auto 55px;
}

.doc-required{
    padding: 112px 0;
}

.doc-required .label-section{
    margin-bottom: 19px;
}

.doc-required .heading-2{
    margin-bottom: 12px;
}

.faq-list.doc-required__list {
    max-width: 100%;
    gap: 32px;
}

.faq-list.doc-required__list .faq-item .faq-header{
    height: unset;
    gap: 12px;
    justify-content: unset;
    padding: 23px;
}

.doc-required__icon{
    display: flex;
    width: 56px;
    height: 56px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: var(--background-white, #FFF);
}

.faq-list.doc-required__list .faq-item  .faq-header.active .doc-required__action svg{
    rotate: 180deg;
}

.doc-required__icon img{
    width: auto;
}

.doc-required__title-group{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.faq-list.doc-required__list .faq-item .question{
    color: var(--text-primary, #10243D);
    font-family: var(--Family-Heading, "Instrument Serif");
    font-size: var(--Size-text-xl, 24px);
    font-weight: 400;
    line-height: calc(17 / 24);
}

.doc-required__subtext{
    color: #10243D;
    line-height: 13px;
}

.doc-required__action{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto
}

.doc-required__action svg{
    width: 24px;
    height: 24px;
    rotate: 0deg;
    transition: all .3s ease-in-out;
}

.doc-required__row{
    padding: 22px 23px 22px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    border-top: 1px solid rgba(88, 105, 129, 0.30);
    border-bottom: 1px solid rgba(88, 105, 129, 0.30);
    align-items: flex-start;
}


.doc-required__row:last-child{
    border-bottom: none;
}

.doc-required__row:first-child{
    padding-top: 23px;
}

.doc-required__row-name{
    flex: 1;
    color: var(--text-primary, #10243D);
    font-size: var(--Size-text-lg, 20px);
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    margin: -7px 0;
}

.doc-required__row-desc{
    width: calc(40.9% - 16px);
    color: var(--text-primary, #10243D);
    font-size: var(--Size-text-lg, 20px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin: -7px 0;
}

.doc-required__badge{
    width: calc(18.2% - 16px);
    width: max-content;
    min-width: calc(18.2% - 16px);
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
}

.doc-required__badge span{
    border-radius: 50px;
    border: 1px solid var(--border-slate-darker, rgba(88, 105, 129, 0.30));
    background: var(--background-mist, #E8EEF2);
    padding: 12px;
    color: var(--text-slate-darker, #586981);
    font-size: var(--Size-main, 18px);
    font-style: normal;
    font-weight: 500;
    line-height: calc(13 / 18); 
    display: block;
}

.doc-required__badge.doc-required__badge--skp span{
    border-color: #1E3F62;
}

.faq-list.doc-required__list .faq-item .faq-content{
    background: #FDFEFF;
    padding: 0;
}

.gov-relations{
    padding: 112px 0;
    background: var(--background-ocean-deep, #024D62);
}

.gov-relations__top{
    max-width: 872px;
    margin: 0 auto 54px;
}

.gov-relations .label-section{
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 27px;
}

.gov-relations .heading-2{
    color: #fff;
    margin-bottom: 12px;
}

.gov-relations .desc-section{
    color: #fff;
}

.gov-relations .desc-section p{
    margin-bottom: 36px;
    color: #fff;
    font-size: var(--Size-text-xl, 24px);
    font-weight: 500;
    line-height: 150%; 
}

.gov-relations .desc-section p:last-child{
    margin: 0;
}


.gov-relations__table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
    border-radius: 16px;
    overflow: hidden;
    text-align: left;
}

.gov-relations__table-wrap{
    overflow: hidden;
    border-radius: var(--radius-main, 16px);
    border: 1px solid var(--border-mist, rgba(232, 238, 242, 0.30));
}
 
.gov-relations__table thead {
  background-color: #FDFEFF;
}
 
.gov-relations__table th {
    font-family: var(--Family-Heading);
    color: var(--text-primary, #10243D);
    font-size: var(--Size-H6, 32px);
    font-style: normal;
    font-weight: 400;
    line-height: 1.35; 
    padding: 23px 31px 21px;
}
 
.gov-relations__col-doc {
  width: 32.7%;
}
 
.gov-relations__col-action {
  width: 67.3%;
}
 
.gov-relations__row {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}
 
.gov-relations__doc-name {
    padding: 22px 31px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    vertical-align: top;
    font-size: var(--Size-text-xl, 24px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
 
.gov-relations__doc-action {
    padding: 26px 31px;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    vertical-align: top;
    font-size: var(--Size-main, 18px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.gov-relations__footnote{
    color: var(--text-inverse, #FFF);
    font-size: var(--Size-main, 18px);
    font-style: italic;
    font-weight: 500;
    line-height: 150%;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    margin-top: 39px;

}

.gov-relations__footnote svg{
    width: 32px;
    height: 32px;
}

.document-process{
    padding: 112px 0;
}

.document-process__top{
    max-width: 760px;
    margin: 0 auto 57px;
}

.document-process .label-section{
    margin-bottom: 19px;
}   

.document-process .heading-2{
    margin-bottom: 32px;
    max-width: 547px;
    margin: 0 auto 16px;
}

.document-process .document-process__desc{
    color: #10243D;
}

.document-process .timeline__wrap-item:nth-child(2n) {
    justify-content: end;
    text-align: left;
}

.document-process__tabs{
    display: flex;
    width: max-content;
    height: max-content;
    padding: var(--spacing-4, 4px);
    align-items: center;
    gap: var(--spacing-4, 4px);
    border-radius: 100px;
    background: var(--background-mist, #E8EEF2);
    margin: 0 auto 25px;
}

.document-process__tab{
    color: var(--text-primary, #10243D);
    font-size: var(--Size-small, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: 11px;
    padding: 22.5px 31px;
    border-radius: 100px;
    border: none;
    font-family: var(--Family-Body);
    box-shadow: none;
}

.document-process__tab.process__tab--active{
    color: #FFF;
    background: var(--background-navy-elevated, #1E3F62);
    border: none;
    box-shadow: none;
}

.document-process__step-count{
    color: rgba(26, 58, 85, 0.70);
}

.document-process__programme-label{
    color: #10243D;
}

.document-process__timeline .timeline__list{
    max-width: 643px;
    margin: 0 auto;
}

.document-process__timeline .timeline__list .timeline__item{
    width: 100%;
    text-align: left;
}

.document-process__timeline .timeline__wrap-item::before, .document-process__timeline .timeline__list::after{
    width: 3px;
    left: -63px;
    right: unset;
}

.document-process__timeline .timeline__wrap-item:nth-child(2n) .timeline__item::after {
    right: unset;
    left: -88px;
}