* {
  box-sizing: border-box;
}

.faq-section {
  padding: 50px 0 80px;
  max-width: 1440px;
  /* overflow: visible; */
  margin: 0 auto;
  position: relative;
}

.faq-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-16, 16px);
  flex-wrap: wrap;
}

.filter-btn {
  display: flex;
  padding: var(--spacing-12, 12px) var(--spacing-16, 16px);
  align-items: center;
  gap: var(--spacing-8, 8px);
  border-radius: 50px;
  border: 1px solid var(--border-slate-darker-80, rgba(88, 105, 129, 0.8));
  background: var(--background-white, #fff);

  color: var(--text-primary, #10243d);
  font-size: var(--Size-main, 18px);
  font-style: normal;
  font-weight: 500;
  /* line-height: 150%; */
  line-height: 0.8;
  cursor: pointer;
}

.filter-btn.active {
  display: flex;
  padding: var(--spacing-12, 12px) var(--spacing-16, 16px);
  align-items: center;
  gap: var(--spacing-8, 8px);

  border-radius: 50px;
  border: 1px solid var(--border-slate-darker, rgba(88, 105, 129, 0.3));
  background: var(--background-deep-navy, #10243d);

  color: var(--text-inverse, #fff);

  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-main, 18px);
  font-style: normal;
  font-weight: 500;
  /* line-height: 150%;  */
  line-height: 0.8;
  /* margin-left: 64px; */
}

.faq-filter-container {
  position: relative;
  max-width: 1440px;
  /* overflow: hidden; */
  margin-bottom: 63px;
}

.owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none; /* Tránh cản trở click */
}

.owl-prev,
.owl-next {
  background-color: #10243d !important;
  color: #fff !important;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  margin: 0 64px !important;
}

.faq-owl-carousel .owl-stage-outer {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.faq-owl-carousel .spacer {
  width: 58px !important;
  flex-shrink: 0;
}

.faq-owl-carousel .owl-item {
  width: auto !important;
}

.owl-nav button.disabled {
  opacity: 0;
  visibility: hidden;
}

/* .faq-swiper .swiper-slide {
  width: auto !important;
  flex-shrink: 0;
}

.faq-swiper .swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #10243d;
  color: #fff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  top: 50%;
}

.swiper-button-prev {
  left: 64px;
}
.swiper-button-next {
  right: 64px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px;
  font-weight: bold;
}

.swiper-button-disabled {
  opacity: 0;
  visibility: hidden;
  cursor: default;
} */
/* .faq-owl-carousel {
  padding-left: 64px !important;
  padding-right: 64px !important;
} */

.faq-owl-carousel .owl-stage-outer {
  overflow: hidden;
}

/* .faq-swiper .swiper-slide:first-child {
  margin-left: 64px;
}
.faq-swiper .swiper-slide:last-child {
  margin-right: 64px;
} */

.faq-intro {
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
  gap: 15px;
  /* margin-bottom: 64px; */
  margin-bottom: 53px;
}

.faq-label {
  color: var(--text-muted, rgba(26, 58, 85, 0.7));
  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-main, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.faq-title {
  color: var(--text-primary, #10243d);
  text-align: center;
  font-family: var(--Family-Heading, "Instrument Serif");
  font-size: var(--Size-H2, 72px);
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}

.faq-subtitle {
  color: var(--text-primary, #10243d);
  font-family: var(--Family-Body, "General Sans Variable");
  text-align: center;
  font-size: var(--Size-text-xl, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.faq-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-24, 24px);
  max-width: 880px;
  margin: 0 auto;
  /* align-self: stretch; */
}

.faq-item {
  width: 100%;
  cursor: pointer;
  border-radius: var(--radius-small, 8px);
  border: var(--Stroke-Border-Width, 1px) solid
    var(--border-slate-darker, rgba(88, 105, 129, 0.3));
  background: var(--background-mist, #e8eef2);
  display: flex;
  flex-direction: column;
}

.faq-header {
  display: flex;
  padding: var(--spacing-24-16, 24px);
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-8, 8px);
  align-self: stretch;
  height: 72px;
}

.faq-header span {
  color: var(--text-primary, #10243d);
  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-text-xl, 24px);
  font-style: normal;
  font-weight: 500;
  /* line-height: 150%; */
  line-height: 0.8;
}

.faq-header svg {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  min-width: 24px;
  min-height: 24px;
  flex-shrink: 0;
}

.faq-item summary::-webkit-details-marker {
  display: none;
}

.faq-content {
  display: none;
  color: #4a5568;
  border-top: 1px solid #cbd5e0;
  padding: var(--spacing-24-16, 24px);

  font-family: var(--Family-Body, "General Sans Variable");
  font-size: var(--Size-text-xl, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.faq-item {
  display: flex;
}

.faq-item.hidden {
  display: none !important;
}

@media (max-width: 768px) {
  .faq-section {
    padding: 81.45px 0px 80px;
  }

  .faq-intro {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 32px;
  }

  .faq-label {
    font-size: var(--Size-main, 16px);
  }

  .faq-title {
    font-size: var(--Size-H2, 48px);
  }

  .faq-subtitle {
    font-size: var(--Size-text-xl, 20px);
  }

  .faq-filter-container {
    margin-bottom: 40px;
  }

  .filter-btn {
    font-size: var(--Size-main, 16px);
  }

  .faq-list {
    max-width: 100%;
    padding: 0 var(--spacing-16, 16px);
  }

  .faq-header {
    display: flex;
    padding: var(--spacing-24-16, 16px);
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-8, 8px);
    align-self: stretch;
    /* height: 72px; */
  }

  .faq-header span {
    font-size: var(--Size-text-xl, 20px);
    line-height: 1.5;
  }

  .faq-owl-carousel .spacer {
    width: 16px !important;
    flex-shrink: 0;
  }

  .owl-prev,
  .owl-next {
    margin: 0 16px !important;
  }
}
