/*=======================
        General 
=======================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--Family-Body);
}

body {
  background-color: #fdfeff;
  font-family: var(--Family-Body);
  color: var(--text-secondary);
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-secondary);
  margin: 0 0 20px;
  font-weight: 500;
}
p:last-child {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  font-family: var(--Family-Heading);
}

h1 {
  font-size: 88px;
}

h2 {
  font-size: 72px;
}

h3 {
  font-size: 60px;
}

h4 {
  line-height: 120%;
  font-size: 54px;
}

h5 {
  font-size: 44px;
  line-height: 130%;
}

h6 {
  font-size: 32px;
}

a:hover {
  text-decoration: none;
}

a {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-decoration: none;
}

:focus {
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

/*=======================
       Page Layout
=======================*/
:root {
  --Family-Heading: "Instrument Serif";
  --Family-Body: "General Sans Variable";
  --text-secondary: #1e3f62;
  --text-inverse: #fff;
}
.container {
  margin: 0 auto;
  max-width: 1344px;
  padding: 0 16px;
}

.hidden {
  display: none !important;
}
.text-center {
  text-align: center;
}
.btn {
  display: inline-flex;
  padding: 14px 16px;
  align-items: center;
  gap: var(--spacing-4, 4px);
  border-radius: var(--radius-small, 8px);
  border: 0.5px solid transparent;
  font-size: 16px;
  justify-content: center;
  font-weight: 600;
}

.btn-primary {
  color: var(--text-inverse, #fff);
  border-color: var(--Button-Primary-border, #1e3f62);
  background: var(--Button-Primary-background, #10243d);
}

.btn-secondary {
  color: var(--Button-Secondary-text, #10243d);
  border-color: var(--Button-Secondary-border, #fff);
  background: var(--Button-Secondary-background, #fff);
}

.btn-ghost {
  color: #fff;
  border-color: #fff;
  background: transparent;
}
.btn-ghost-secondary {
  color: var(--Button-Secondary-text, #10243d);
  border-color: #10243d;
  background: transparent;
}
.btn-primary:hover {
  border-color: #1e3f62;
  background: var(--Button-Primary-background-hover, #10243db2);
}
.btn-secondary:hover {
  background: #ffffff4d;
}
.btn-ghost:hover {
  background: #e8eef2;
  color: var(--Button-Secondary-text, #10243d);
  border-color: #e8eef2;
}
.btn-ghost-secondary:hover{
  background: #10243d;
  color: #fff;

}
.heading-1 {
  color: var(--text-inverse, #fff);

  font-family: var(--Family-Heading, "Instrument Serif");
  font-size: var(--Size-H1, 88px);
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}
.heading-2 {
  color: var(--text-primary, #10243d);

  font-family: var(--Family-Heading, "Instrument Serif");
  font-size: var(--Size-H2, 72px);
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}
.heading-3 {
  color: var(--text-primary, #10243d);

  font-family: var(--Family-Heading, "Instrument Serif");
  font-size: var(--Size-H3, 64px);
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}
.heading-4 {
  color: var(--text-inverse, #fff);

  font-family: var(--Family-Heading, "Instrument Serif");
  font-size: var(--Size-H4, 54px);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.heading-5 {
  color: var(--text-primary, #10243d);

  font-family: var(--Family-Heading, "Instrument Serif");
  font-size: var(--Size-H5, 44px);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.desc-section {
  color: var(--text-primary, #10243d);
  font-size: var(--Size-text-xl, 24px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.label-section {
  color: var(--text-muted, rgba(26, 58, 85, 0.7));
  font-size: var(--Size-main, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  margin-bottom: 27px;
  display: block;
}
@media (min-width: 1024px) {
  .hide-pc-header {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hide-pc {
    display: none !important;
  }
}

/* Tablet */
@media (max-width: 1023px) {
  .heading-1,
  h1 {
    font-size: 68px;
  }

  .heading-2,
  h2 {
    font-size: 58px;
  }
  .heading-3,
  h3 {
    font-size: 50px;
  }

  .heading-4,
  h4 {
    font-size: 46px;
  }

  .heading-5,
  h5 {
    font-size: 38px;
  }

  h6 {
    font-size: 28px;
  }

  .desc-section {
    font-size: 20px;
  }

  .label-section {
    font-size: 16px;
    margin-bottom: 32px;
  }

  p {
    font-size: 17px;
  }

  .btn {
    font-size: 16px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .hide-mb {
    display: none !important;
  }

  .heading-1,
  h1 {
    font-size: 54px;
  }

  .heading-2,
  h2 {
    font-size: 48px;
  }
  .heading-3,
  h3 {
    font-size: 40px;
  }

  .heading-4,
  h4 {
    font-size: 38px;
    line-height: 120%;
  }

  .heading-5,
  h5 {
    font-size: 34px;
    line-height: 130%;
  }

  h6 {
    font-size: 24px;
  }

  .desc-section {
    font-size: 18px;
  }

  .label-section {
    font-size: 14px;
    margin-bottom: 24px;
  }

  p {
    font-size: 16px;
  }

  .btn {
    padding: 15px 16px;
    font-size: 15px;
  }
}
