.government-intro {
    background-color: #10243D;
    padding-top: 240px;
    padding-bottom: 71px;
}

.intro-government__label {
    color: var(--text-inverse);
    opacity: 0.65;
    margin-bottom: 15px;
}

.sth-intro-desc {
    color: var(--text-inverse);
}

.intro-government__heading {
    margin-bottom: 9px;
}

.sth-intro-desc {
    max-width: 722px;
}

.government-story {
    padding-top: 112px;
    padding-bottom: 112px;
}

.story-government__content {
    max-width: 863px;
    padding-bottom: 72px;
}

.story-government__label {
    margin-bottom: 30px;
}

.story-government__paragraph p {
    color: var(--text-primary, #10243d);
    font-size: var(--Size-text-xl, 24px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

}

.story-government__heading {
    margin-bottom: 19px;
}

.story-government__paragraph p {
    margin-bottom: 35px;
}

.story-government__paragraph p:last-child {
    margin-bottom: 0;
}

.story-government__video .video-section__wrapper video {
    border-radius: 12px;
    background-color: #D7D7D7;
}

.government-designation {
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: #E8EEF2;
}

.designation-government__content {
    max-width: 794px;
    margin-left: auto;
    margin-right: auto;
}

.designation-government__desc {
    color: var(--text-primary, #10243d);
    font-size: var(--Size-main, 18px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
}

.designation-government__label {
    color: #10243D;
    margin-bottom: 20px;
}

.designation-government__heading {
    margin-bottom: 14px;
}

.designation-government__appointed {
    display: flex;
    gap: 24px;
    padding-top: 56px;
    padding-right: 32px;
}

.government-appointed__box {
    width: calc((100% - 24px) / 2);
    padding: 24px;
    border-radius: 16px;
    background-color: #fff;
}

.government-appointed__box ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    gap: 12px;
}

.government-appointed__box ul li:last-child {
    margin-bottom: 0;
}

.government-appointed__box li span {
    color: var(--text-primary, #10243d);
    font-size: var(--Size-main, 18px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    display: block;
    width: calc(100% - 44px);
}

.government-appointed__box li img {
    width: 32px;
    vertical-align: middle;
}

.appointed-box__heading {
    margin-bottom: 14px;
}

.government-relationships {
    background-color: #10243d;
    padding-top: 112px;
    padding-bottom: 105px;
}

.relationships-government__label {
    color: var(--text-inverse);
    opacity: 0.65;
}

.relationships-government__heading {
    color: var(--text-inverse);
    margin-bottom: 14px;
}

.relationships-government__desc {
    color: var(--text-inverse);
}

.relationships-government__content {
    margin-bottom: 54px;
}

.government-relationships__wraper {
    border-radius: 16px;
    border: 1px solid var(--border-mist, #E8EEF24D);
}

.government-relationships__box {
    display: flex;
    gap: 25px;
    border-bottom: 1px solid var(--border-mist, #E8EEF24D);
    padding: 31px;
    padding-bottom: 32px;
    justify-content: space-between;
}

.government-relationships__box:last-child {
    border-bottom: 0;
}

.relationships__box-head {
    max-width: 525px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.relationships__box-head img {
    vertical-align: middle;
}

.rela-icon_wraper {
    border-radius: 16px;
    background: linear-gradient(269deg, rgba(247, 247, 247, 0.40) 1.07%, rgba(247, 247, 247, 0.32) 17.36%, rgba(247, 247, 247, 0.08) 98.79%);
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.16) inset;
    backdrop-filter: blur(10px);
    display: flex;
    width: 56px;
    height: 56px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    aspect-ratio: 1/1;
}

.relationships__box-head span {
    width: calc(100% - 80px);
    display: block;
    color: var(--text-inverse, #fff);
    font-size: var(--Size-text-xl, 24px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.relationships__box-desc {
    max-width: 455px;
}

.relationships__box-desc p {
    color: var(--text-inverse, #fff);
    font-size: var(--Size-main, 18px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    opacity: 0.65;
}

.government-relationships__desc {
    margin-top: 32px;
    color: var(--text-inverse, #fff);
    font-size: var(--Size-main, 18px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.government-credentials {
    padding-top: 112px;
    padding-bottom: 112px;
    background: var(--background-white-2560, #F7F7F799);
}

.credentials-government__content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 57px;
}

.credentials-government__label {
    margin-bottom: 17px;
}

.credentials-government__heading {
    line-height: 125%;
    margin-bottom: 14px;
}

.government-credentials__verified {
    display: flex;
    gap: 63px;
    padding-right: 32px;
    align-items: stretch;
    margin-bottom: 64px;
}

.credentials__verified-box {
    width: calc((100% - 63px) / 2);
    display: flex;
    flex-direction: column;
}

.verified-box-image {
    border: 1px solid var(--border-slate-darker-80, #586981CC);
    background: #D7D7D780;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 32px;
    position: relative;
}

.verified-box-image:hover .btn-zoom {
    opacity: 1;
    visibility: visible;
}

.verified-box-image img {
    vertical-align: middle;
    aspect-ratio: 608 / 860;
}

.verified_box-view {
    border: 1px solid var(--border-slate-darker-80, #586981CC);
    background-color: #fff;
    border-radius: 16px;
    padding: 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 38px;
    flex: 1;
}

.credentials__verified-box:first-child .verified_box-view {
    padding-right: 28px;
}

.box-view_security {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 31px;
}

.view_security-icon {
    width: 56px;
    background: var(--background-mist, #E8EEF2);
    height: 56px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-view_security span {
    color: #10243D;
    font-size: var(--Size-main, 18px);
    font-weight: 500;
    line-height: 150%;
    width: calc(100% - 68px);
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.verified-sub-heading {
    color: #10243D;
    font-size: var(--Size-text-xl, 24px);
    font-weight: 400;
    line-height: 140%;
    font-family: "Instrument Serif";
    text-transform: uppercase;
    margin-top: 4px;
    display: block;
    margin-bottom: 10px;
}

.sth-meta-verified {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    border-bottom: 1px solid var(--border-slate-darker, #5869814D);
    padding: 16px 0;
    padding-bottom: 17px;
    padding-right: 4px;
}

.sth-meta-verified span {
    color: #1A3A55B2;
    font-size: var(--Size-main, 18px);
    font-weight: 500;
    line-height: 150%;
    display: block;
}

.sth-meta-verified span:last-child {
    color: #10243D;
    font-size: var(--Size-main, 18px);
    font-weight: 500;
    line-height: 150%;
    display: block;
}

.verified_box-view .btn {
    width: max-content;
}

.sth-credentials-licences {
    max-width: 940px;
    background: var(--background-cyan-5, #0AD7F40D);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--border-cyan, #0AD7F4B2);
    padding: 25px 32px;
    border-radius: 8px;
}

.sth-credentials-licences p {
    color: #10243D;
    line-height: 150%;
}

.sth-credentials-licences p a {
    font-weight: 600;
    line-height: 160%;
    color: inherit;
    text-decoration: underline;
}

.government-partnership {
    padding-top: 112px;
    padding-bottom: 112px;
    background: var(--background-ocean-deep, #024D62);
}

.partnership-government__label {
    color: var(--text-inverse);
    opacity: 0.65;
}

.partnership-government__heading {
    color: var(--text-inverse);
}

.partnership-government__content {
    max-width: 752px;
    margin-left: auto;
    margin-right: auto;
}

.sth-application__bg {
    background-color: #024D62;
}

.btn-zoom {
    border-radius: 99px;
    padding: 8px 12px;
    position: absolute;
    right: 16px;
    font-weight: 500;
    bottom: 16px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    min-height: 40px;
}

/* css popup */

.verified-popup-zoom.active {
    visibility: visible;
    opacity: 1;
}

.verified-popup-zoom {
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-verified {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.8;
}

.verified-content-zoom {
    background-color: aliceblue;
    position: relative;
    z-index: 1;
}

.btn-verified-close {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.verified-content-zoom img {
    max-height: 95vh;
}

@media screen and (max-width: 992px) {

    .government-credentials,
    .government-relationships,
    .government-designation,
    .government-story {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .relationships__box-desc,
    .relationships__box-head {
        width: 50%;
    }

    .government-credentials__verified {
        gap: 32px;
    }

    .credentials__verified-box {
        width: calc((100% - 32px) / 2);
    }
}

@media screen and (max-width: 767px) {
    .designation-government__appointed {
        padding-right: 0;
        flex-wrap: wrap;
        padding-top: 33px;
    }

    .government-appointed__box {
        width: 100%;
        padding-top: 25px;
    }

    .government-appointed__box:last-child {
        padding-top: 26px;
        padding-bottom: 26px;
        padding-bottom: 25px;
    }

    .government-appointed__box:last-child .appointed-box__heading {
        margin-bottom: 8px;
    }

    .appointed-box__heading {
        margin-bottom: 9px;
    }

    .government-appointed__box ul li {
        margin-bottom: 3px;
    }

    .government-relationships__box {
        flex-wrap: wrap;
    }

    .relationships__box-head span {
        width: 100%;
    }

    .relationships__box-desc,
    .relationships__box-head {
        width: 100%;
        flex-wrap: wrap;
    }

    .government-credentials__verified {
        padding-right: 0;
        flex-wrap: wrap;
    }

    .credentials__verified-box {
        width: 100%;
    }

    .sth-meta-verified span {
        width: 50%;
    }

    .sth-meta-verified span:last-child {
        max-width: 200px;
    }

    .intro-government__heading {
        margin-bottom: 11px;
    }

    .story-government__label {
        margin-bottom: 25px;
    }

    .story-government__heading {
        margin-bottom: 14px;
    }

    .story-government__paragraph p {
        margin-bottom: 30px;
    }

    .story-government__content {
        padding-bottom: 56px;
    }

    .story-government__video .video-section__wrapper video {
        aspect-ratio: 342 / 350;
    }

    .story-government__video .video-section__wrapper {
        aspect-ratio: 342 / 350;
    }

    .designation-government__label {
        margin-bottom: 15px;
    }

    .relationships-government__content {
        margin-bottom: 31px;
    }

    .government-relationships__box {
        padding: 39px 23px;
        padding-bottom: 33px;
        gap: 19px;
    }

    .relationships__box-head {
        gap: 15px;
    }

    .government-relationships__desc {
        margin-top: 24px;
    }

    .government-relationships {
        padding-bottom: 74px;
    }

    .credentials-government__label {
        margin-bottom: 14px;
    }

    .credentials-government__content {
        margin-bottom: 34px;
    }

    .verified-box-image {
        border: none;
    }

    .btn-zoom {
        font-size: 15px;
        padding: 8px 12px;
        right: 24px;
        bottom: 24px;
    }

    .verified-box-image {
        margin-bottom: 23px;
    }

    .verified_box-view {
        padding: 23px;
        gap: 39px;
    }

    .credentials__verified-box .verified_box-view {
        padding-right: 19px;
    }

    .box-view_security {
        margin-bottom: 26px;
    }

    .verified-sub-heading {
        margin-top: 7px;
        margin-bottom: 3px;
    }

    .sth-meta-verified {
        padding-bottom: 18px;
    }

    .verified_box-view .btn {
        width: 100%;
    }

    .government-credentials__verified {
        gap: 40px;
    }

    .credentials__verified-box:last-child .verified-box-image {
        margin-bottom: 24px;
    }

    .credentials__verified-box:last-child .verified_box-view {
        gap: 31px;
    }

    .government-credentials__verified {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 414px) {
    .sth-meta-verified span:last-child {
        max-width: 118px;
    }

    .credentials-government__heading {
        padding-left: 1px;
        padding-right: 1px;
    }
}

/* Cost Calculator Page*/

.disclosure__billed-separately {
    border-radius: 16px;
    border: 1px solid rgba(88, 105, 129, 0.30);
    overflow: hidden;
}

.billed-separately__head {
    background-color: #E8EEF2;
    padding: 20px 23px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}

.separately__head-right {
    display: flex;
    gap: 23.08px;
    width: max-content;
}

.separately-wrap-icon {
    display: flex;
    gap: 4px;
    position: relative;
}

.separately-wrap-icon:first-child::before {
    left: calc(100% + 2px);
    top: 50%;
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    border-bottom: 1px dashed rgba(88, 105, 129, 0.80);
}

.separately__head-left {
    flex: 1;
}

.separately__head-left span {
    color: #10243D;
    font-size: var(--Size-main, 18px);
    font-weight: 500;
    line-height: 170%;
    letter-spacing: 0.36px;
    text-transform: uppercase;
}

.full-disclosure__header {
    margin-bottom: 55px;
}

.separately-wrap-icon span {
    font-size: var(--Size-main, 18px);
    font-weight: 400;
    line-height: 150%;
    color: #000;
    letter-spacing: -0.2px;
}

.sth-box-icon {
    padding: 8px;
    background-color: #E8EEF2;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
}

.separately__main-left {
    display: flex;
    gap: 24px;
    align-items: center;
    max-width: 646px;
}

.application__fee-left {
    width: calc(100% - 80px);
}

.billed-separately__main {
    padding: 23px 32px;
    padding-bottom: 24px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(88, 105, 129, 0.30);
}

.application__fee-title {
    display: block;
}

.application__fee-desc {
    font-size: var(--Size-main, 18px);
    font-weight: 500;
    line-height: 150%;
    color: rgba(26, 58, 85, 0.70);
    max-width: 435px;
}

.separately__main-right {
    min-width: 264px;
}

.application__vuv-title {
    margin-bottom: -7px;
}

.application__fee-wraper {
    display: flex;
    gap: 12px;
    margin-bottom: 8px;
    flex-wrap: wrap;
}

.application__tag-fee {
    padding: 9px 12px;
    font-size: var(--Size-small, 16px);
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    display: inline-flex;
    border-radius: 20px;
    border: 1px solid var(--border-slate-darker, rgba(88, 105, 129, 0.30));
    background: var(--background-mist, #E8EEF2);
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.16) inset;
    backdrop-filter: blur(10px);
    height: 36px;
}

.separately__main-wraper .billed-separately__main:last-child {
    padding-top: 21px;
    padding-bottom: 33px;
}

.separately__main-wraper .billed-separately__main:last-child .separately__main-left {
    align-items: flex-start;
    padding-top: 10px;
}

.separately__main-wraper .billed-separately__main:last-child .application__fee-wraper {
    margin-bottom: 17px;
}

.separately__main-wraper .billed-separately__main:last-child .application__fee-desc {
    margin-bottom: 17px;
}

.check-vila-box {
    padding: 8px 14px;
    border-radius: var(--radius-small, 8px);
    border: 1px solid var(--border-cyan, rgba(10, 215, 244, 0.70));
    background: var(--background-cyan-5, rgba(10, 215, 244, 0.05));
    display: flex;
    gap: 8px;
    align-items: center;
}

.check-vila-box svg {
    width: 24px;
}

.check-vila-box p {
    width: calc(100% - 32px);
}

.check-vila-box p {
    font-size: 16px;
}

.check-vila-box p strong {
    font-weight: 600;
}

.billed-separately__footer {
    display: flex;
    justify-content: space-between;
    padding: 23px;
    background-color: #E8EEF2;
}

.separately__footer-left {
    display: flex;
    gap: 12px;
    align-items: center;
    max-width: calc(100% - 340px);
}

.separately__footer-left svg {
    max-width: 24px;
}

.separately__footer-left span {
    width: calc(100% - 36px);
}

.our-pricing-different {
    background-color: #024D62;
    padding: 99px 0;
    padding-bottom: 112px;
}

.pricing-different__head {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-bottom: 48px;
    border-bottom: 0.5px solid var(--border-mist, #E8EEF24D);
}

.different__head-title {
    max-width: 440px;
    color: var(--text-inverse);
    width: 40%;
}

.different__head-desc {
    max-width: 640px;
    padding-top: 6px;
    width: 60%;
}

.different__head-desc p {
    color: var(--text-inverse);
    /* opacity: 0.65; */
}

.cost-box__title {
    color: var(--text-inverse);
    margin-bottom: 5px;
}

.government-cost-wraper {
    padding-top: 47px;
}

.government-cost-box>p {
    color: var(--text-inverse);
    opacity: 0.65;
    margin-bottom: 25px;
}

.sth-cost-box {
    display: flex;
    background-color: #FDFEFF;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 22px;
}

.sth-cost-box span {
    padding: 17px 24px;
    display: block;
    font-weight: 500;
    font-size: var(--Size-text-lg);
    line-height: 150%;
    letter-spacing: 0%;
    color: #10243D;
    width: calc(100% - 24.77%);
    padding-right: 20px;
    flex: 1;
}

.sth-cost-box .sth-agent-fee {
    background-color: #CCBCA8;
    min-width: 325px;
    width: 24.77%;
    flex: unset;
}

.sth-warn-box {
    display: flex;
    gap: 12px;
    align-items: center;
}

.sth-warn-box svg {
    width: 24px;
}

.sth-warn-box span {
    display: block;
    width: calc(100% - 36px);
    opacity: 0.65;
    color: var(--text-inverse);
    font-size: var(--Size-main);
}

.sth-warn-box span strong {
    font-weight: 600;
}

.quoted-credibility {
    padding: 112px 0;
    padding-bottom: 104px;
    background-color: #E8EEF2;
}

.sth-wraper-credibility {
    text-align: center;
    max-width: 918px;
    margin: auto;
}

.sth-wraper-credibility svg {
    margin-bottom: 22px;
}

.quoted-credibility__title {
    margin-bottom: 33px;
}

.quoted-credibility__desc {
    font-size: var(--Size-text-lg);
}

.quoted-credibility__desc strong {
    font-weight: 600;
}

.sth-faq-bottom .faq-content {
    font-size: 16px;
    padding-top: 0;
    margin-top: -5px;
    padding-bottom: 17px;
    color: #10243D;
}

.sth-faq-bottom .faq-header {
    min-height: 70px;
    height: auto;
    padding-bottom: 23px;
    padding-top: 23px;
}

.choose-programme__box {
    cursor: pointer;
}

.choose-programme__box .box-fee-description,
.choose-programme__box .box-desc,
.choose-programme__box {
    transition: all 0.2s ease-in-out;
}

.choose-programme__box:hover {
    background-color: #024D62;
    color: #fff;
}

.choose-programme__box:hover .box-fee-description,
.choose-programme__box:hover .box-desc {
    color: #fff;
}

.choose-programme__box:hover .box-content-top {
    border-color: #fff;
}

.choose-programme__box:hover .box-btn {
    color: #fff;
    border-color: #fff;
}

.choose-programme__box.selected .box-btn {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #10243D !important;
}

.configure-family__desc {
    text-transform: none;
    color: #10243D;
    line-height: 1.5;
    letter-spacing: 0;
    margin-bottom: 55px;
}

.configure-family__heading {
    margin-bottom: 20px;
}

.configure-family__wraper {
    display: flex;
    gap: 80px;
}

.sth-right-family,
.sth-left-family {
    width: calc((100% - 80px) / 2);
}

.sth-right-family {
    background: var(--background-navy-elevated, #1E3F62);
    border-radius: 24px;
    border: 1px solid var(--border-mist, #E8EEF24D);
    margin-top: 11px;
}

.sth-configure-box {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 23px 0;
    padding-top: 24px;
    border-bottom: 0.5px solid #586981B2;
}

.sth-wraper-configure {
    border-top: 0.5px solid #586981B2;
}

.sth-configure-left {
    width: 56px;
    height: 56px;
    box-shadow: 0px 2px 4px 0px #FFFFFF29 inset;
    backdrop-filter: blur(20px);
    background: #E8EEF2;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sth-configure-right {
    width: calc(100% - 72px);
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

.configure-infor {
    position: relative;
    cursor: pointer;
}

.configure-infor:hover .sth-tool-tip {
    opacity: 1;
    visibility: visible;
}

.configure-infor svg {
    width: 24px;
    vertical-align: middle;
}

.configure-infor .sth-tool-tip {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding: 12px;
    background-color: #10243D;
    left: 50%;
    top: -18px;
    color: #fff;
    width: 250px;
    border-radius: 8px;
    transform: translate(-50%, -100%);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    transition: all 0.2s ease-in-out;

}

.sth-tool-tip::after {
    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 18px;
    height: 15px;
    background: #10243D;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.sth-spouse-status {
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: #E8EEF2;
    border-radius: 100px;
    width: 101px;
    height: 48px;
    justify-content: center;
    gap: 3px;
    position: relative;
    cursor: pointer;
}

#spouse_status {
    display: none;
}

.sth-spouse-status::before {
    content: "";
    position: absolute;
    background-color: #1E3F62;
    width: 46px;
    height: 40px;
    right: 4px;
    top: 4px;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;

}

.sth-spouse-status span:last-child {
    color: #fff;
    position: relative;
}

.sth-spouse-status.active span {
    color: #fff;
    position: relative;
}

.sth-spouse-status.active span:last-child {
    color: #10243D;
}

.sth-spouse-status span {
    padding: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s ease-in-out;
}

.sth-spouse-status.active::before {
    right: calc(100% - 4px);
    transform: translateX(100%);
    width: 51px;
}

.sth-spouse-wraper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.sth-spouse-wraper span {
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    font-size: var(--Size-main);
    color: #10243D;
}

.added-application-fee {
    margin-top: 2px;
    display: none;
    margin-bottom: -5px;
}

.added-application-fee p {
    color: var(--text-muted, #1A3A55B2);
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    font-size: var(--Size-small);
    max-width: 350px;
}

.wraper-fc-number {
    display: flex;
    align-items: center;
    background-color: #E8EEF2;
    padding: 4px;
    border-radius: 100px;
}

.wraper-fc-number input {
    margin-top: 2px;
    width: 26px;
    border: none;
    outline: none;
    -moz-appearance: textfield;
    appearance: textfield;
    text-align: center;
    font-weight: 500;
    font-size: var(--Size-small);
    line-height: 150%;
    letter-spacing: 0%;
    color: #10243D;
    background-color: transparent;

}

.wraper-fc-number input[type="number"]::-webkit-outer-spin-button,
.wraper-fc-number input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sth-btn-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sth-btn-prev.disable {
    background: #FFFFFF66;
    pointer-events: none;
}

.sth-btn-next.disable {
    background: #FFFFFF66;
    pointer-events: none;
}


.sth-btn-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.anything-anusual-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    cursor: pointer;
}

.anusual__head-left {
    gap: 8px;
    align-items: center;
    display: flex;
}

.anusual__head-left span {
    font-weight: 500;
    font-size: var(--Size-main);
    line-height: 150%;
    letter-spacing: 0%;
    color: #10243D;
}

.wraper-anything-anusual {
    background-color: #E8EEF2B2;
    border-radius: 16px;
    margin-top: 21px;
    overflow: hidden;
}

.anything-anusual-content textarea {
    width: 100%;
    border: 1px solid var(--border-slate-darker, #5869814D);
    padding: 10px 8px;
    background-color: #F9F8F6;
    font-weight: 400;
    font-size: var(--Size-small);
    line-height: 150%;
    letter-spacing: 0%;
    color: #1E3F62;
    min-height: 120px;
    border-radius: 8px;
    font-family: "General Sans Variable";

}

.anything-anusual-content textarea::placeholder {
    font-weight: 400;
    font-size: var(--Size-small);
    line-height: 150%;
    letter-spacing: 0%;
    color: #1E3F62;
    font-family: "General Sans Variable";
}

.anything-anusual-content {
    padding: 16px;
    display: none;
}

.anything-anusual-head svg {
    transition: all 0.3s ease-in-out;
}

.anything-anusual-head.active {
    background-color: #E8EEF2;
}

.anything-anusual-head.active>svg {
    transform: rotate(180deg);
}

.family__tag-programme {
    box-shadow: 0px 2px 4px 0px #FFFFFF29 inset;
    backdrop-filter: blur(20px);
    border: 1px solid #FFFFFF80;
    padding: 4px 12px;
    background: linear-gradient(268.66deg, rgba(255, 255, 255, 0.12) 1.07%, rgba(255, 255, 255, 0.24) 73.35%, rgba(255, 255, 255, 0.3) 98.79%);
    border-radius: 20px;
    font-weight: 500;
    font-size: var(--Size-main);
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    display: block;
    width: max-content;
    color: var(--text-inverse);
    margin-bottom: 30px;
    max-width: 100%;

}

.family__title-programme {
    color: var(--text-inverse);
}

.family__subtitle-programme {
    color: var(--text-inverse);
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    font-size: var(--Size-text-xl);
    margin-bottom: 12px;
    display: block;
}

.right__family-head {
    padding: 23px;
    padding-bottom: 23px;
    border-bottom: 0.5px solid #FFFFFF66;
}

.cost__breakdown-box {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 23px 0;
    padding-bottom: 21px;
    border-bottom: 0.5px solid #FFFFFF66;
}

.breakdown-box__txt {
    display: flex;
    gap: 8px;
    align-items: center;
}

.breakdown-box__price span,
.breakdown-box__txt span {
    color: var(--text-inverse);
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    font-size: var(--Size-main);
}

.wraper-cost-breakdown {
    padding: 39px 23px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #FFFFFF66;
}

.cost-breakdown__title {
    color: var(--text-inverse);
    margin-bottom: 8px;
}

.sth-cost-total .breakdown-box__txt span {
    font-size: var(--Size-text-xl);
}

.sth-cost-total .breakdown-box__price .heading-6 {
    font-size: var(--Size-H6, 32px);
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    color: var(--text-inverse);
}

.cost__breakdown-box.sth-cost-total {
    border-bottom: 0;
    padding-top: 13px;
    padding-bottom: 11px;
}

.sth-cost-desc {
    background: #E8EEF233;
    border: 1px solid var(--border-mist, #E8EEF24D);
    padding: 8px 15px;
    border-radius: 8px;
}

.sth-cost-desc p {
    font-weight: 500;
    font-size: var(--Size-small);
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--text-inverse);
}

.wraper-cost-desc {
    padding: 31px 23px;
    border-bottom: 0.5px solid #FFFFFF66;
}

.wraper-payment-timing {
    padding: 24px 24px;
}

.payment-timing__title {
    font-weight: 500;
    font-size: var(--Size-main);
    line-height: 170%;
    letter-spacing: 2%;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--text-inverse);
    display: block;
    margin-bottom: 18px;
}

.payment-timing__box {
    display: flex;
    gap: 24px;
    padding-bottom: 27px;
    position: relative;
}

.payment-timing__box::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    height: calc(100% - 6px);
    width: 1px;
    background-color: #FFFFFF66;
}

.payment-timing__box:last-child {
    padding-bottom: 0;
}

.payment-timing__box:last-child::before {
    display: none;
}

.timing__box-stt {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border: 1px solid var(--border-white, #FFFFFF);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-inverse);
    font-weight: 500;
    font-size: var(--Size-main);
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    background: var(--background-navy-elevated, #1E3F62);
    position: relative;
    margin-top: 6px;
}

.sth-timing-subtitle {
    color: var(--text-inverse);
    font-weight: 500;
    font-size: var(--Size-main);
    line-height: 150%;
    letter-spacing: 0%;
}

.sth-timing-title {
    color: var(--text-inverse);
}

.sth-timing-desc {
    color: var(--text-inverse);
    opacity: 0.65;
    font-weight: 500;
    font-size: var(--Size-main);
    line-height: 150%;
    letter-spacing: 0%;
    display: block;
    margin-top: -4px;
}

.wraper-pay-desc {
    padding: 32px 23px;
    padding-top: 27px;
    border-bottom: 0.5px solid #FFFFFF66;
    border-top: 0.5px solid #FFFFFF66;
    display: flex;
    gap: 16px;
}

.wraper-pay-desc svg {
    width: 32px;
    vertical-align: middle;
}

.wraper-pay-desc p {
    color: var(--text-inverse);
    font-weight: 500;
    font-size: var(--Size-small);
    line-height: 150%;
    letter-spacing: 0%;
    width: calc(100% - 48px);
}

.btn.btn-white {
    background-color: var(--text-inverse);
    color: #10243D;
}

.btn.btn-trans {
    background-color: transparent;
    border: 1px solid var(--Button-Secondary-White-border, #E8EEF2);
}

.btn-estimate {
    display: flex;
    gap: 8px;
    justify-content: center;
    color: var(--text-inverse);
    align-items: center;
    cursor: pointer;
}

.wraper-meta-button {
    padding: 40px 24px 24px;
}

.wraper-meta-button a {
    width: 100%;
    margin-bottom: 16px;
}

.modal-estimate-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.modal-estimate-checkbox a {
    margin-bottom: 0;
}

.modal-estimate-checkbox .sth-hiden {
    display: none;
}

.sth-estimate-checkbox {
    position: relative;
    padding-left: 40px;
    width: 100%;
    color: var(--text-inverse);
    font-weight: 500;
    font-size: var(--Size-small);
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-bottom: 25px;
}

.sth-estimate-checkbox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.sth-estimate-checkbox::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 4px;
    width: 16px;
    height: 12px;
    background-image: url(../images/check-box.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    visibility: hidden;
}

.modal-estimate-checkbox input:checked~.sth-estimate-checkbox::after {
    opacity: 1;
    visibility: visible;
}

.modal-estimate-checkbox input:checked~.modal-estimate-email {
    height: 50px;
    margin-bottom: 16px;
}

.wraper-estimate {
    padding-top: 40px;
    display: none;
}

.wraper-estimate .btn {
    margin-bottom: 0;
}

.modal-estimate-email {
    width: 100%;
    transition: all 0.2s ease-in-out;
    height: 0;
}

.modal-estimate-email input {
    width: 100%;
    border: 1px solid var(--border-white, #FFFFFF);
    background: #FDFEFF1F;
    font-weight: 500;
    font-size: var(--Size-small);
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--text-inverse);
    padding: 12px;
    border-radius: 8px;
}

.modal-estimate-email input::placeholder {
    font-weight: 500;
    font-size: var(--Size-small);
    line-height: 150%;
    letter-spacing: 0%;
    opacity: 0.6;
    color: var(--text-inverse);
}

.timing__box-meta {
    width: calc(100% - 56px);
}

.total-configure__cost {
    padding: 24px 16px;
    background-color: #1E3F62;
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-top: 24px;
}

.total-configure__cost span {
    font-weight: 500;
    font-size: var(--Size-small);
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--text-inverse);
    display: block;
    margin-bottom: 15px;
}

.total-configure__cost .btn {
    width: 100%;
}

.total-configure__title {
    color: var(--text-inverse);
    margin-bottom: 15px;
}

.wraper-configure_fc {
    display: none;
}

.sth-cost-reduce {
    border-bottom: 0;
    padding-top: 0;
}

.sth-cost-reduce span {
    opacity: 0.65 !important;
}

@media screen and (max-width: 980px) {
    .configure-family__wraper {
        gap: 25px;
        flex-wrap: wrap;
    }

    .sth-right-family,
    .sth-left-family {
        width: calc((100% - 25px) / 2);
    }
}

@media screen and (max-width: 767px) {

    .separately__head-right {
        width: 100%;
        flex-wrap: wrap;
        gap: 16px;
    }

    .separately-wrap-icon:first-child::before {
        left: 10px;
        top: 25px;
        height: 20px;
        width: 1px;
        border-right: 1px dashed rgba(88, 105, 129, 0.80);
        border-bottom: 0;
    }

    .billed-separately__footer,
    .billed-separately__head,
    .separately__main-left,
    .billed-separately__main {
        flex-wrap: wrap;
    }

    .separately__footer-left,
    .separately__head-left,
    .separately-wrap-icon,
    .separately__main-right,
    .separately__main-left,
    .application__fee-left {
        width: 100%;
    }

    .separately__footer-left {
        max-width: 100%;
        padding-left: 11px;
        padding-right: 12px;

    }

    .billed-separately__footer {
        gap: 18px;
        padding: 12px;
        padding-top: 19px;
        padding-bottom: 23px;
    }

    .choose-programme__box:last-child .box-fee-description {
        margin-bottom: 33px;
    }

    .full-disclosure-sec {
        padding: 80px 0;
    }

    .full-disclosure__header {
        margin-bottom: 33px;
    }

    .billed-separately__head {
        padding: 14px 23px;
        padding-bottom: 24px;
        gap: 16px;
    }

    .billed-separately__main {
        padding: 40px 23px;
        gap: 18px;
        padding-bottom: 34px;
    }

    .separately__main-left {
        gap: 16px;
    }

    .application__vuv-title {
        margin-bottom: -2px;
    }

    .separately__main-wraper .billed-separately__main:last-child .separately__main-left {
        padding-top: 18px;
    }

    .separately__main-wraper .billed-separately__main:last-child .application__fee-wraper {
        gap: 23px;
        margin-bottom: 25px;
    }

    .separately__main-wraper .billed-separately__main:last-child .application__fee-desc {
        margin-bottom: -1px;
    }

    .separately__main-wraper .billed-separately__main:last-child .check-vila-box {
        margin-top: 27px;
        padding: 10px 14px;
    }

    .check-vila-box p {
        font-size: 15px;
    }

    .separately__main-wraper .billed-separately__main:last-child {
        padding-bottom: 39px;
    }

    .separately__footer-left span {
        font-size: 15px;
    }

    .sth-cost-box .sth-agent-fee {
        min-width: 220px;
    }

    .different__head-title {
        width: 100%;
        max-width: 295px;
    }

    .different__head-desc {
        width: 100%;
    }

    .pricing-different__head {
        flex-wrap: wrap;
        gap: 15px;
        padding-bottom: 33px;
    }

    .our-pricing-different {
        padding: 71px 0;
        padding-bottom: 74px;
    }

    .government-cost-wraper {
        padding-top: 33px;
    }

    .cost-box__title {
        margin-bottom: 8px;
    }

    .government-cost-box>p {
        margin-bottom: 26px;
    }

    .sth-cost-box {
        margin-bottom: 17px;
    }

    .government-cost-wraper:last-child {
        padding-top: 27px;
    }

    .sth-comparison__restyle {
        padding-bottom: 74px;
    }

    .sth-comparison__restyle .programme-comparison__item {
        width: 100%;
        padding: 24px;
    }

    .sth-comparison__restyle .programme-comparison__flex {
        flex-wrap: wrap;
        gap: 16px;
    }

    .sth-comparison__restyle .programme-comparison__flex .programs__card-price-wrapper {
        flex-direction: row;
        gap: 12px;
        margin-top: 7px;
    }

    .sth-comparison__restyle .programme-comparison__flex .cost-calculator__card-price-note {
        font-size: 16px;
        margin-top: 0;
    }

    .sth-comparison__restyle .programme-comparison__header {
        margin-bottom: 28px;
    }

    .sth-comparison__restyle .programme-comparison__flex .line-ct {
        margin: 18px 0 24px;
    }

    .sth-comparison__restyle .programme-comparison__choose {
        font-size: 16px;
        margin-bottom: 9px;
    }

    .sth-comparison__restyle .programme-comparison__des p {
        font-size: 18px;
    }

    .sth-comparison__restyle .eligibility__bottom {
        margin-top: 41px;
        margin-bottom: 0;
    }

    .quoted-credibility {
        padding: 80px 0;
        padding-bottom: 73px;
    }

    .sth-wraper-credibility svg {
        margin-bottom: 24px;
    }

    .quoted-credibility__title {
        margin-bottom: 37px;
    }

    .sth-faq-bottom .dsp-faq-bottom__left {
        width: 100%;
    }

    .sth-faq-bottom .dsp-faq-bottom__wrap {
        flex-wrap: wrap;
        gap: 8px;
    }

    .sth-faq-bottom .dsp-faq-bottom__right {
        width: 100%;
    }

    .sth-faq-bottom .faq-header {
        min-height: 56px;
        padding: 12px 16px;
    }

    .sth-faq-bottom .faq-content {
        padding: 16px;
        font-size: 15px;
        padding-top: 1px;
        margin-top: 0;
        font-weight: 500;
        line-height: 154%;
        padding-bottom: 8px;
    }

    .dsp-faq-bottom__right .sth-cta-mb {
        margin-top: 16px;
    }

    /*  */
    .sth-right-family,
    .sth-left-family {
        width: 100%;
    }
}

@media screen and (max-width: 540px) {
    .sth-cost-box .sth-agent-fee {
        min-width: 113px;
        text-align: center;
        width: 22.77%;
    }

    .sth-cost-box span {
        font-size: 15px;
    }

    .government-cost-wraper:last-child .sth-cost-box span {
        font-size: 18px;
        padding: 9.5px 24px;
    }

    .sth-cost-box span {
        padding: 9.5px 12px;
        padding-right: 5px;
    }

    .sth-cost-box {
        align-items: center;
        min-height: 64px;
    }
}

@media screen and (max-width: 767px) {
    /* css popup */

    .sth-right-family.active {
        visibility: visible;
        opacity: 1;
    }

    .sth-right-family {
        margin-top: 0;
        transition: all 0.3s ease-in-out;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        background-color: transparent;
        border: none;
    }

    .overlay-family {
        cursor: pointer;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #10243D;
        opacity: 0.5;
    }

    .modal-right-family {
        position: relative;
        z-index: 1;
        height: 100%;
        overflow-y: auto;
        max-width: calc(100% - 32px);
        background: var(--background-navy-elevated, #1E3F62);
        border: 1px solid var(--border-mist, #E8EEF24D);
        border-radius: 24px;
        max-height: calc(100vh - 60px);
    }

    .bg-layout-bt {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 100%;
        height: 18px;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        background-color: #1E3F62;
        z-index: 2;
        max-width: calc(100% - 40px);
    }

    .btn-close-family {

        position: absolute;
        right: 30px;
        top: 40px;
        height: 32px;
        width: 32px;
        cursor: pointer;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right__family-head {
        padding-top: 77px;
        position: relative;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 30px;
    }

    .right__family-head::before {
        content: "";
        position: absolute;
        top: 24px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        background: #E8EEF280;
        height: 5px;
        border-radius: 8px;
        border: 1px solid var(--border-mist, #E8EEF24D);
    }

    .family__tag-programme {
        padding: 6px 10px;
    }

    .family__subtitle-programme {
        margin-bottom: 16px;
    }

    .wraper-cost-breakdown {
        padding: 41px 16px;
    }

    .cost-breakdown__title {
        margin-bottom: 2px;
    }

    .breakdown-box__txt {
        max-width: 62%;
    }

    .anything-anusual-content textarea {
        min-height: 135px;
    }

    .sth-configure-box {
        gap: 12px;
    }

    .sth-spouse-wraper span {
        font-size: 15px;
    }

    .wraper-spouse-status span {
        font-size: 15px;
    }

    .sth-each-application span {
        font-size: 15px;
    }

    .sth-timing-desc {
        margin-top: 1px;
    }

    .cost__breakdown-box.sth-cost-total {
        padding-top: 19px;
    }

    .wraper-cost-breakdown {
        padding-bottom: 15px;
    }

    .wraper-cost-desc {
        padding-top: 35px;
    }

    .wraper-payment-timing {
        padding: 24px 24px;
    }

    .sth-timing-subtitle {
        margin-bottom: 1px;
        display: block;
    }

    .payment-timing__box {
        padding-bottom: 28px;
    }

    .wraper-cost-breakdown .cost__breakdown-box:first-of-type {
        padding-bottom: 16px;
        padding-top: 23px;
    }

    .cost__breakdown-box {
        padding: 17px 0;
        min-height: 72px;
    }

    .sth-cost-total .breakdown-box__txt span {
        font-weight: 400;
    }

    .cost__breakdown-box.sth-cost-total {
        padding-top: 16px;
        min-height: unset;
        padding-bottom: 8px;
    }
}

/*  */
.intro-stanford-knight {
    padding-top: 223px;
    padding-bottom: 80px;
}

.sth-stanford__desc {}

.sth-stanford__title {
    color: #10243D;
    margin-bottom: 9px;
}

.intro-stanford-head {
    padding-bottom: 47px;
}


.intro-stanford-image {
    min-height: 500px;
}

.intro-stanford-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 24px;
    border-radius: 16px;
}

.stanford-posi {
    aspect-ratio: 200 / 218;
    object-fit: cover;
    vertical-align: middle;
    max-width: 200px;
    margin-bottom: 16px;
    border-radius: 16px;
}

.stanford-posi:last-child {
    margin-bottom: 0;
}

.the-premise {
    padding: 112px 0;
    background-color: #10243D;
}

.the-premise__label {
    color: var(--text-inverse);
    opacity: 0.65;
    text-align: center;
}

.the-premise__title {
    color: var(--text-inverse);
    text-align: center;
    margin-bottom: 39px;
}

.wraper-the-premise {
    max-width: 1090px;
    margin: auto;
}

.the-premise-desc {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 58px;
}

.premise-desc__item {
    width: calc((100% - 40px) / 2);
}

.premise-desc__item p {
    font-weight: 500;
    font-size: var(--Size-main);
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--text-inverse);
}

.sth-premise-box {
    display: flex;
    border: 1px solid var(--border-slate-darker, #5869814D);
    padding: 18px 23px;
    border-radius: 16px;
    background-color: #fff;
    gap: 12px;
    margin-bottom: 24px;
}

.sth-premise-box:last-child {
    margin-bottom: 0;
}

.sth-premise-box img {
    width: 32px;
}

.premise-box-opa {
    opacity: 0.35;
}

.wraper-premise-box {
    max-width: 1036px;
    margin: auto;
}

.premise-desc__item p strong {
    font-weight: 600;
}

.differentiators {
    padding: 112px 0;
}

.differentiators-head {
    text-align: center;
    margin-bottom: 57px;
}

.sth-differentiators-box {
    display: flex;
    border: 1px solid var(--border-slate-darker, #5869814D);
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 63px;
    align-items: stretch;
    background-color: #E8EEF2;
}

.sth-differentiators-box:nth-child(even) {
    flex-direction: row-reverse;
}

.sth-differentiators-box:last-child {
    margin-bottom: 0;
}

.differentiators-meta_txt {
    width: 50%;
    background-color: #E8EEF2;
    padding: 40px 47px;
    padding-right: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.differentiators-meta__img {
    width: 50%;
}

.differentiators-box__title {
    color: #10243D;
    margin-bottom: 18px;
}

.differentiators-box__qoute {
    padding-left: 15px;
    border-left: 1px solid var(--border-slate-darker-80, #586981CC);
    margin-top: 25px;
    padding-top: 8px;
}

.differentiators-sec-desc {
    font-size: var(--Size-main);
}

.differentiators-head__title {
    margin-bottom: 14px;
}

.differentiators-box__label {
    margin-bottom: 29px;
}

.differentiators-box__desc p {
    margin-bottom: 28px;
}

.differentiators-box__desc p:last-child {
    margin-bottom: 0;
}

.differentiators-box__desc p strong {
    font-weight: 600;
    font-style: italic;
    line-height: 1.6;
}

.sth-qoute__label {
    font-size: var(--Size-small);
    margin-bottom: 14px;
}

.differentiators-box__qoute p {
    font-family: "Instrument Serif";
    font-size: var(--Size-text-xl);
    font-weight: 400;
    line-height: 1.4;
}

.differentiators-meta__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.track-record-head {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.record-right__title {
    margin-bottom: 14px;
}

.record-head__left {
    width: calc((100% - 24px) / 2);
    max-width: 531px;
    padding-top: 10px;
}

.record-head__right {
    width: calc((100% - 24px) / 2);
    max-width: 641px;
}

.record-head__title {
    color: #10243D;
}

.sth-examine-box {
    border: 1px solid var(--border-slate-darker-80, #586981CC);
    border-radius: 16px;
    margin-bottom: 24px;
}

.examine-box-item {
    display: flex;
    align-items: center;
}

.examine-icon-box {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #fff;
    padding: 8px;
}

.sth-examine-box {
    display: flex;
    flex-wrap: wrap;
}

.examine-box-item {
    width: 50%;
    padding: 15px;
    gap: 8px;
    border-bottom: 1px solid var(--border-slate-darker, #5869814D);
}

.examine-box-item:nth-child(odd) {
    border-right: 1px solid var(--border-slate-darker, #5869814D);
}

.record-examine__title {
    width: calc(100% - 48px);
}

.examine-note-box {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
}

.examine-note-box:last-child {
    margin-bottom: 0;
}

.our-track-record {
    padding: 102px 0;
    padding-bottom: 113px;
    background-color: #E8EEF2;
}

.record-examine {
    margin-top: 51px;
}

.record-examine__label {
    margin-bottom: 24px;
}

.record-examine__title {
    color: #10243D;
    font-size: var(--Size-main);
}

.examine-note-box p {
    color: #10243D;
    font-size: var(--Size-small);
}

@media screen and (max-width: 1023px) {
    .sth-differentiators-box {
        flex-wrap: wrap;
    }

    .differentiators-meta_txt {
        width: 100%;
    }

    .differentiators-meta__img {
        width: 100%;
    }

    .differentiators-meta__img img {
        height: auto;
    }
}

@media screen and (max-width: 767px) {
    .differentiators-meta_txt {
        padding: 40px 24px;
    }

    .sth-differentiators-box {
        margin-bottom: 40px;
    }

    .sth-differentiators-box:last-child {
        margin-bottom: 0;
    }

    .premise-desc__item {
        width: 100%;
    }

    .the-premise-desc {
        margin-bottom: 40px;
    }

    .differentiators {
        padding: 80px 0;
    }

    .the-premise {
        padding: 80px 0;
    }

    .track-record-head {
        flex-wrap: wrap;
    }

    .record-head__right,
    .record-head__left {
        width: 100%;
    }

    .examine-box-item {
        border-right: none;
        width: 100%;
    }

    .examine-box-item:last-child {
        border-bottom: none;
    }
    .our-track-record {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}