.banner-vanuatu__subtitle {
    font-family: 'Instrument Serif';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.35;
    color: #fff;
}

.banner-vanuatu__content {
    position: relative;
    z-index: 2;
    max-width: 470px;
}

.ct-sm-gap {
    gap: 24px;
}

.section-sovereign__right .heading-4 {
    color: #10243D;
    letter-spacing: -0.001em;
    margin-bottom: 18px;
}

.section-sovereign__right p {
    margin-bottom: 27px;
}

.section-sovereign__right p:last-child {
    margin-bottom: 0;
}

.section-sovereign__flex {
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    align-items: center;
}

.banner-vanuatu {
    position: relative;
    min-height: 916px;
    display: flex;
    align-items: end;
    justify-content: start;
    padding-bottom: 52px;
}

.banner-vanuatu .heading-1 {
    margin-bottom: 10px;
}

.banner-vanuatu .container {
    width: 100%;
}

.section-sovereign__left {
    width: calc(610px / 1312px * 100%);
    border-radius: 16px;
    overflow: hidden;
    display: flex;
}

.section-sovereign__right {
    flex: 1;
    padding-bottom: 5px;
}

.banner-vanuatu-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pd-gobal-ct {
    padding: 112px 0;
}

.section-sovereign__bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

.section-sovereign__box {
    background: var(--background-sand-20, #CCBCA833);
    padding: 40px 32px 35px;
    border-radius: 16px;
}

.section-sovereign__number {
    font-family: 'Instrument Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 0.78;
    color: #10243D;
    margin-bottom: 27px;
}

.section-sovereign__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #10243D;
    margin-bottom: 8px;
}

.banner-vanuatu__des {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #586981;
}

.travel-freedom__list {
    display: flex;
    flex-wrap: wrap;
}

.travel-freedom {
    background-color: #E8EEF2;
    padding: 64px 0;
}

.travel-freedom__item {
    background: var(--background-white, #FFFFFF);
    box-shadow: 0px 2px 4px 0px #FFFFFF29 inset;
    backdrop-filter: blur(20px);
    padding: 16px 16px 10px;
    border-radius: 16px;
    width: calc((100% - 72px) / 4);
}

.travel-freedom__image {
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 278 / 170;
    margin-bottom: 24px;
    width: 100%;
}

.travel-freedom__image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.travel-freedom__infor .btn {
    box-shadow: 0px 2px 4px 0px #FFFFFF29 inset;
    border: 1px solid var(--background-cyan, #0AD7F4);
    color: var(--text-primary, #10243D);
    width: fit-content;
    border-radius: 20px;
    padding: 8.5px 12px;
    line-height: 1;
    font-weight: 500;
    min-height: 35px;
}

.travel-freedom__name {
    color: #10243D;
    font-family: 'Instrument Serif';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.35;
    margin-top: 15px;
    margin-bottom: 5px;
}

.travel-freedom__des,
.travel-freedom__des p {
    font-weight: 500;
    font-size: 16px;
    color: #10243D;
}

.travel-freedom__bottom {
    max-width: 688px;
    margin: 0 auto;
    text-align: center;
    margin-top: 56px;
    font-size: 18px;
    margin-top: 49px;
    margin-bottom: -7px;
}

.financial-banking__flex {
    display: flex;
    flex-wrap: wrap;
}

.financial-banking__left,
.financial-banking__right {
    width: calc((100% - 24px) / 2);
    border-radius: 16px;
    padding: 24px 32px;
}

.financial-banking__left {
    background: var(--background-sand-20, #CCBCA833);
}

.financial-banking__right {
    background: var(--background-ocean-deep, #024D62);
}

.financial-banking__bottom {
    border-radius: 16px;
    padding: 67px 32px;
    background: var(--Ocean-Pacific-Light, #D2ECF2);
}

.financial-banking__left .heading-4 {
    color: var(--text-primary, #10243D);
}

.financial-banking__flex .heading-4 {
    margin: 19px 0;
}

.financial-banking__list ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px 24px;
    margin-bottom: 0px;
}

.financial-banking__list-flex {
    display: flex;
    gap: 32px 24px;
}

.financial-banking__list,
.financial-banking__content p {
    margin-bottom: 27px;
}

.financial-banking__content p:last-child {
    margin-bottom: 0;
}

.financial-banking__list p {
    margin: 0 0 27px;
}

.financial-banking__list li {
    position: relative;
    padding-left: 40px;
    width: 100%;
    align-content: center;
    font-weight: 500;
    line-height: 1.5;
    color: #10243D;
    font-size: 18px;
}

.financial-banking__list ul:nth-child(1) {
    gap: 17px 24px;
}

.financial-banking__list ul:nth-child(2n) {
    width: calc(55% - 24px);
}

.financial-banking__list li::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background-image: url('/assets/images/icon-ul.svg');
}

.financial-banking__right .financial-banking__content p {
    color: var(--text-inverse, #fff);
}

.financial-banking__right .label-section {
    color: var(--text-muted-white, #FFFFFFA6);
}

.travel-freedom_wrap .label-section {
    text-align: center;
    line-height: 0.6;
    margin-bottom: 27px;
}

.travel-freedom__width {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 759px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 57px;
}

.travel-freedom__width p {
    max-width: 688px;
}

.travel-freedom__width .heading-2 {
    margin-bottom: 17px;
}

.financial-banking__bottom .heading-4 {
    color: var(--text-primary, #10243D);
}

.the-legal__right {
    width: calc((535px / 1312px) * 100%);
    display: flex;
    border-radius: 16px;
}

.the-legal__left {
    flex: 1;
}

.the-legal__flex {
    display: flex;
    gap: 135px;
    align-items: center;
}

.text-ct p {
    margin-bottom: 27px;
}

.text-ct p:last-child {
    margin-bottom: 0;
}

.the-legal__left .heading-4 {
    color: var(--text-primary, #10243D);
    margin: 20px 0;
}

.quality-life {
    position: relative;
    padding: 64px 0;
    min-height: 819px;
    display: flex;
    align-items: end;
    justify-content: start;
}

.quality-life .container {
    width: 100%;
}

.quality-life__box {
    position: relative;
    z-index: 3;
    max-width: 608px;
    box-shadow: 0px 2.42px 4.84px 0px #FFFFFF29 inset;
    background: linear-gradient(268.66deg, rgba(247, 247, 247, 0.3) 1.07%, rgba(247, 247, 247, 0.24) 17.36%, rgba(247, 247, 247, 0.06) 98.79%);
    border-radius: 19px;
    padding: 30px 40px 32px;
}

.quality-life__box .heading-2,
.quality-life__box p {
    color: #fff;
}

.quality-life__box .label-section {
    color: #FFFFFFB2;
    margin-bottom: 10px;
}

.quality-life__box .heading-2 {
    margin: 18px 0 15px;
}

.quality-life__box p {
    font-family: 'General Sans Variable';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.banner-programme {
    background: var(--background-deep-navy, #10243D);
}

.btn-programme__flex {
    display: flex;
    gap: 24px;
}

.heading-3__programme {
    font-family: 'Instrument Serif';
    font-weight: 400;
    font-size: 64px;
    line-height: 1.25;
    color: #FFFFFF;
}

.banner-programme .heading-2 {
    color: #FFFFFF;
    margin: 15px 0 20px;
}

.banner-programme__subtitle {
    color: #FFFFFF;
}

.btn-label {
    background: linear-gradient(268.66deg, rgba(255, 255, 255, 0.12) 1.07%, rgba(255, 255, 255, 0.24) 73.35%, rgba(255, 255, 255, 0.3) 98.79%);
    border: 1px solid #FFFFFF80;
    box-shadow: 0px 2px 4px 0px #FFFFFF29 inset;
    /* backdrop-filter: blur(20px); */
    color: #FFFFFF;
    padding: 12px;
    line-height: 0.7;
    border-radius: 20px;
    display: inline-flex;
}

.banner-programme__flex {
    display: flex;
    gap: 64px;
}

.banner-programme__content {
    flex: 1;
}

.banner-programme__box {
    flex: 1;
    background: var(--background-navy-elevated, #1E3F62);
    border: 1px solid var(--border-mist, #E8EEF24D);
    border-radius: 16px;
    padding: 32px;
}

.banner-programme {
    padding: 80px 0;
}

.banner-programme__box .label-section {
    color: var(--text-muted-white, #FFFFFFA6);
}

.banner-programme__box-content {
    color: var(--text-muted-white, #FFFFFFA6);
}

.line-ct {
    border: 1px solid var(--border-mist, #E8EEF24D);
    width: 100%;
    margin: 48px 0;
}

.programme-overview__flex {
    display: flex;
    flex-wrap: wrap;
    gap: 88px 68px;
}

.programme-overview_left {
    width: calc((603px / 1312px) * 100%);
}

.programme-overview_right {
    flex: 1;
}

.programme-overview__bottom {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.investment-breakdown {
    background: var(--background-ocean-deep, #024D62);
    padding: 64px 0;
}

.investment-breakdown__wrap {
    text-align: center;
}

.row-table {
    display: flex;
    gap: 24px;
}

.col-table {
    flex: 1;
    text-align: start;
}

.col-table,
.col-table p {
    font-size: 20px;
}

.col-table,
.col-table p,
.investment-breakdown .heading-2,
.investment-breakdown .label-section {
    color: #fff;
}

.investment-breakdown .heading-2 {
    margin-bottom: 80px;
}

.ct-table {
    margin-bottom: 48px;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: var(--border-mist, #E8EEF24D);
    border-radius: 16px;
    overflow: hidden;
}

.row-table {
    border-bottom: 1px solid var(--border-mist, #E8EEF24D);
    padding: 24px;
}

.investment-breakdown__heading {
    font-family: 'Instrument Serif';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.35;
    color: #FFFFFF;
}

.breakdown__box-text {
    margin-bottom: 48px;
}

.header-table .col-table,
.header-table .col-table p {
    font-family: 'Instrument Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.35;
    color: #FFFFFF;
}

.header-table {
    background: #10243D66;
}

.investment-breakdown__subtitle {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #FFFFFF;
}

.investment-breakdown__people {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.65);
    margin: 10px 0 10px;
}

.investment-breakdown__item img {
    margin: 0 auto;
}

.investment-breakdown__number {
    font-family: 'Instrument Serif';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.35;
    color: #FFFFFF;
}

.investment-breakdown__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.investment-breakdown__item {
    border: 1px dashed var(--border-mist, #E8EEF24D);
    border-radius: 16px;
    padding: 24px;
}

.investment-breakdown__box {
    padding: 24px;
    margin-top: 40px;
    background: #0687A04D;
    border: 1px solid var(--border-mist, #E8EEF24D);
    border-radius: 16px;
}

.investment-breakdown__box p {
    color: #fff;
}

.timeline__header {
    max-width: 759px;
    text-align: center;
    margin: 0 auto;
}

.timeline {
    background: var(--background-mist, #E8EEF2);
}

.timeline__title {
    font-family: 'Instrument Serif';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.35;
    color: #10243D;
}

.timeline__day {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: var(--text-muted, #1A3A55B2);
    font-family: 'General Sans Variable';
    text-transform: uppercase;
}

.timeline__item {
    width: calc((100% - 126px) / 2);
}

.timeline__list {
    display: flex;
    flex-wrap: wrap;
}

.timeline__wrap-item {
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
}

.timeline__wrap-item:nth-child(2n) {
    justify-content: start;
}

.timeline__wrap-item:nth-child(2n) .timeline__item {
    text-align: end;
}

.timeline__list {
    counter-reset: step;
    position: relative;
}

.timeline__item {
    position: relative;
    padding-bottom: 60px;
    padding-top: 16px;
}

.timeline__item::after {
    counter-increment: step;
    content: counter(step);
    position: absolute;
    left: -88px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--background-mist, #E8EEF2);
    border: 1px solid var(--background-deep-navy, #10243D);
    color: #10243D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    z-index: 4;
    top: 44px;
    font-family: 'Instrument Serif';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
}

.timeline__wrap-item:nth-child(2n) .timeline__item::after {
    right: -88px;
    left: inherit;
}

.timeline__list::after {
    left: 50%;
    transform: translateX(-50%);
    content: ' ';
    position: absolute;
    height: 100%;
    width: 5px;
    background: var(--background-deep-navy, #10243D);
    border-radius: 100px;
    opacity: 0.2;
}

.timeline__wrap-item::before {
    z-index: 2;
    content: ' ';
    position: absolute;
    height: 0;
    width: 5px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
    background: var(--background-deep-navy, #10243D);
    border-radius: 100px;
    top: 0;
}

.timeline__item::before {
    content: "";
    position: absolute;
    left: -67px;
    top: 32px;
    width: 9px;
    height: 76px;
    background: #E8EEF2;
    clip-path: polygon(50% 4%, 100% 0, 100% 100%, 50% 96%, 0 100%, 0 0);
    z-index: 2;
}

.timeline__wrap-item:nth-child(2n) .timeline__item::before {
    left: inherit;
    right: -68px;
}

.timeline__wrap-item.active::before {
    height: calc(100% + 4px);
}

.timeline__wrap-item.active .timeline__item::after {
    background: var(--background-deep-navy, #10243D);
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.faq-green .faq-header span {
    color: var(--Feedback-positive, #007400);
}

.faq-orange .faq-header span {
    color: var(--Feedback-attention, #8E5901);
}

.faq-red .faq-header span {
    color: var(--Feedback-negative, #C80909);
}

.eligibility__wrap ul {
    list-style: none;
}

.eligibility__wrap {
    max-width: 753px;
    margin: 0 auto;
    text-align: center;
}

.eligibility__faq {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.eligibility__faq {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: start;
    margin-top: 64px;
}

.eligibility__faq li {
    position: relative;
    padding-left: 44px;
    margin-bottom: 16px;
}

.eligibility__faq .faq-content {
    font-size: 18px;
}

.eligibility__faq li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 32px;
    height: 32px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='none'%3E%3Cpath opacity='0.2' d='M28 16C28 18.3734 27.2962 20.6935 25.9776 22.6668C24.6591 24.6402 22.7849 26.1783 20.5922 27.0866C18.3995 27.9948 15.9867 28.2324 13.6589 27.7694C11.3312 27.3064 9.19295 26.1635 7.51472 24.4853C5.83649 22.8071 4.6936 20.6689 4.23058 18.3411C3.76756 16.0133 4.0052 13.6005 4.91345 11.4078C5.8217 9.21509 7.35977 7.34094 9.33316 6.02236C11.3066 4.70379 13.6266 4 16 4C19.1826 4 22.2348 5.26428 24.4853 7.51472C26.7357 9.76515 28 12.8174 28 16Z' fill='%2310243D'/%3E%3Cpath d='M21.7075 12.2925C21.8005 12.3854 21.8742 12.4957 21.9246 12.6171C21.9749 12.7385 22.0008 12.8686 22.0008 13C22.0008 13.1314 21.9749 13.2615 21.9246 13.3829C21.8742 13.5043 21.8005 13.6146 21.7075 13.7075L14.7075 20.7075C14.6146 20.8005 14.5043 20.8742 14.3829 20.9246C14.2615 20.9749 14.1314 21.0008 14 21.0008C13.8686 21.0008 13.7385 20.9749 13.6171 20.9246C13.4957 20.8742 13.3854 20.8005 13.2925 20.7075L10.2925 17.7075C10.1049 17.5199 9.99945 17.2654 9.99945 17C9.99945 16.7346 10.1049 16.4801 10.2925 16.2925C10.4801 16.1049 10.7346 15.9994 11 15.9994C11.2654 15.9994 11.5199 16.1049 11.7075 16.2925L14 18.5863L20.2925 12.2925C20.3854 12.1995 20.4957 12.1258 20.6171 12.0754C20.7385 12.0251 20.8686 11.9992 21 11.9992C21.1314 11.9992 21.2615 12.0251 21.3829 12.0754C21.5043 12.1258 21.6146 12.1995 21.7075 12.2925ZM29 16C29 18.5712 28.2376 21.0846 26.8091 23.2224C25.3807 25.3603 23.3503 27.0265 20.9749 28.0104C18.5995 28.9944 15.9856 29.2518 13.4638 28.7502C10.9421 28.2486 8.6257 27.0105 6.80762 25.1924C4.98953 23.3743 3.75141 21.0579 3.2498 18.5362C2.74819 16.0144 3.00563 13.4006 3.98957 11.0251C4.97351 8.64968 6.63975 6.61935 8.77759 5.1909C10.9154 3.76244 13.4288 3 16 3C19.4467 3.00364 22.7512 4.37445 25.1884 6.81163C27.6256 9.24882 28.9964 12.5533 29 16ZM27 16C27 13.8244 26.3549 11.6977 25.1462 9.88873C23.9375 8.07979 22.2195 6.66989 20.2095 5.83733C18.1995 5.00476 15.9878 4.78692 13.854 5.21136C11.7202 5.6358 9.76021 6.68345 8.22183 8.22183C6.68345 9.7602 5.63581 11.7202 5.21137 13.854C4.78693 15.9878 5.00477 18.1995 5.83733 20.2095C6.66989 22.2195 8.07979 23.9375 9.88873 25.1462C11.6977 26.3549 13.8244 27 16 27C18.9164 26.9967 21.7123 25.8367 23.7745 23.7745C25.8367 21.7123 26.9967 18.9164 27 16Z' fill='%2310243D'/%3E%3C/svg%3E") no-repeat center;
    background-size: contain;
}

.eligibility__faq .faq-green li::before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='none'%3E%3Cpath opacity='0.2' d='M28 16C28 18.3734 27.2962 20.6935 25.9776 22.6668C24.6591 24.6402 22.7849 26.1783 20.5922 27.0866C18.3995 27.9948 15.9867 28.2324 13.6589 27.7694C11.3312 27.3064 9.19295 26.1635 7.51472 24.4853C5.83649 22.8071 4.6936 20.6689 4.23058 18.3411C3.76756 16.0133 4.0052 13.6005 4.91345 11.4078C5.8217 9.21509 7.35977 7.34094 9.33316 6.02236C11.3066 4.70379 13.6266 4 16 4C19.1826 4 22.2348 5.26428 24.4853 7.51472C26.7357 9.76515 28 12.8174 28 16Z' fill='%23007400'/%3E%3Cpath d='M21.7075 12.2925C21.8005 12.3854 21.8742 12.4957 21.9246 12.6171C21.9749 12.7385 22.0008 12.8686 22.0008 13C22.0008 13.1314 21.9749 13.2615 21.9246 13.3829C21.8742 13.5043 21.8005 13.6146 21.7075 13.7075L14.7075 20.7075C14.6146 20.8005 14.5043 20.8742 14.3829 20.9246C14.2615 20.9749 14.1314 21.0008 14 21.0008C13.8686 21.0008 13.7385 20.9749 13.6171 20.9246C13.4957 20.8742 13.3854 20.8005 13.2925 20.7075L10.2925 17.7075C10.1049 17.5199 9.99945 17.2654 9.99945 17C9.99945 16.7346 10.1049 16.4801 10.2925 16.2925C10.4801 16.1049 10.7346 15.9994 11 15.9994C11.2654 15.9994 11.5199 16.1049 11.7075 16.2925L14 18.5863L20.2925 12.2925C20.3854 12.1995 20.4957 12.1258 20.6171 12.0754C20.7385 12.0251 20.8686 11.9992 21 11.9992C21.1314 11.9992 21.2615 12.0251 21.3829 12.0754C21.5043 12.1258 21.6146 12.1995 21.7075 12.2925ZM29 16C29 18.5712 28.2376 21.0846 26.8091 23.2224C25.3807 25.3603 23.3503 27.0265 20.9749 28.0104C18.5995 28.9944 15.9856 29.2518 13.4638 28.7502C10.9421 28.2486 8.6257 27.0105 6.80762 25.1924C4.98953 23.3743 3.75141 21.0579 3.2498 18.5362C2.74819 16.0144 3.00563 13.4006 3.98957 11.0251C4.97351 8.64968 6.63975 6.61935 8.77759 5.1909C10.9154 3.76244 13.4288 3 16 3C19.4467 3.00364 22.7512 4.37445 25.1884 6.81163C27.6256 9.24882 28.9964 12.5533 29 16ZM27 16C27 13.8244 26.3549 11.6977 25.1462 9.88873C23.9375 8.07979 22.2195 6.66989 20.2095 5.83733C18.1995 5.00476 15.9878 4.78692 13.854 5.21136C11.7202 5.6358 9.76021 6.68345 8.22183 8.22183C6.68345 9.7602 5.63581 11.7202 5.21137 13.854C4.78693 15.9878 5.00477 18.1995 5.83733 20.2095C6.66989 22.2195 8.07979 23.9375 9.88873 25.1462C11.6977 26.3549 13.8244 27 16 27C18.9164 26.9967 21.7123 25.8367 23.7745 23.7745C25.8367 21.7123 26.9967 18.9164 27 16Z' fill='%23007400'/%3E%3C/svg%3E") no-repeat center;
}

.eligibility__faq .faq-orange li::before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='none'%3E%3Cpath opacity='0.2' d='M28 16C28 18.3734 27.2962 20.6935 25.9776 22.6668C24.6591 24.6402 22.7849 26.1783 20.5922 27.0866C18.3995 27.9948 15.9867 28.2324 13.6589 27.7694C11.3312 27.3064 9.19295 26.1635 7.51472 24.4853C5.83649 22.8071 4.6936 20.6689 4.23058 18.3411C3.76756 16.0133 4.0052 13.6005 4.91345 11.4078C5.8217 9.21509 7.35977 7.34094 9.33316 6.02236C11.3066 4.70379 13.6266 4 16 4C19.1826 4 22.2348 5.26428 24.4853 7.51472C26.7357 9.76515 28 12.8174 28 16Z' fill='%238E5901'/%3E%3Cpath d='M21.7075 12.2925C21.8005 12.3854 21.8742 12.4957 21.9246 12.6171C21.9749 12.7385 22.0008 12.8686 22.0008 13C22.0008 13.1314 21.9749 13.2615 21.9246 13.3829C21.8742 13.5043 21.8005 13.6146 21.7075 13.7075L14.7075 20.7075C14.6146 20.8005 14.5043 20.8742 14.3829 20.9246C14.2615 20.9749 14.1314 21.0008 14 21.0008C13.8686 21.0008 13.7385 20.9749 13.6171 20.9246C13.4957 20.8742 13.3854 20.8005 13.2925 20.7075L10.2925 17.7075C10.1049 17.5199 9.99945 17.2654 9.99945 17C9.99945 16.7346 10.1049 16.4801 10.2925 16.2925C10.4801 16.1049 10.7346 15.9994 11 15.9994C11.2654 15.9994 11.5199 16.1049 11.7075 16.2925L14 18.5863L20.2925 12.2925C20.3854 12.1995 20.4957 12.1258 20.6171 12.0754C20.7385 12.0251 20.8686 11.9992 21 11.9992C21.1314 11.9992 21.2615 12.0251 21.3829 12.0754C21.5043 12.1258 21.6146 12.1995 21.7075 12.2925ZM29 16C29 18.5712 28.2376 21.0846 26.8091 23.2224C25.3807 25.3603 23.3503 27.0265 20.9749 28.0104C18.5995 28.9944 15.9856 29.2518 13.4638 28.7502C10.9421 28.2486 8.6257 27.0105 6.80762 25.1924C4.98953 23.3743 3.75141 21.0579 3.2498 18.5362C2.74819 16.0144 3.00563 13.4006 3.98957 11.0251C4.97351 8.64968 6.63975 6.61935 8.77759 5.1909C10.9154 3.76244 13.4288 3 16 3C19.4467 3.00364 22.7512 4.37445 25.1884 6.81163C27.6256 9.24882 28.9964 12.5533 29 16ZM27 16C27 13.8244 26.3549 11.6977 25.1462 9.88873C23.9375 8.07979 22.2195 6.66989 20.2095 5.83733C18.1995 5.00476 15.9878 4.78692 13.854 5.21136C11.7202 5.6358 9.76021 6.68345 8.22183 8.22183C6.68345 9.7602 5.63581 11.7202 5.21137 13.854C4.78693 15.9878 5.00477 18.1995 5.83733 20.2095C6.66989 22.2195 8.07979 23.9375 9.88873 25.1462C11.6977 26.3549 13.8244 27 16 27C18.9164 26.9967 21.7123 25.8367 23.7745 23.7745C25.8367 21.7123 26.9967 18.9164 27 16Z' fill='%238E5901'/%3E%3C/svg%3E") no-repeat center;
}

.eligibility__faq .faq-red li::before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='none'%3E%3Cpath opacity='0.2' d='M28 16C28 18.3734 27.2962 20.6935 25.9776 22.6668C24.6591 24.6402 22.7849 26.1783 20.5922 27.0866C18.3995 27.9948 15.9867 28.2324 13.6589 27.7694C11.3312 27.3064 9.19295 26.1635 7.51472 24.4853C5.83649 22.8071 4.6936 20.6689 4.23058 18.3411C3.76756 16.0133 4.0052 13.6005 4.91345 11.4078C5.8217 9.21509 7.35977 7.34094 9.33316 6.02236C11.3066 4.70379 13.6266 4 16 4C19.1826 4 22.2348 5.26428 24.4853 7.51472C26.7357 9.76515 28 12.8174 28 16Z' fill='%23C80909'/%3E%3Cpath d='M21.7075 12.2925C21.8005 12.3854 21.8742 12.4957 21.9246 12.6171C21.9749 12.7385 22.0008 12.8686 22.0008 13C22.0008 13.1314 21.9749 13.2615 21.9246 13.3829C21.8742 13.5043 21.8005 13.6146 21.7075 13.7075L14.7075 20.7075C14.6146 20.8005 14.5043 20.8742 14.3829 20.9246C14.2615 20.9749 14.1314 21.0008 14 21.0008C13.8686 21.0008 13.7385 20.9749 13.6171 20.9246C13.4957 20.8742 13.3854 20.8005 13.2925 20.7075L10.2925 17.7075C10.1049 17.5199 9.99945 17.2654 9.99945 17C9.99945 16.7346 10.1049 16.4801 10.2925 16.2925C10.4801 16.1049 10.7346 15.9994 11 15.9994C11.2654 15.9994 11.5199 16.1049 11.7075 16.2925L14 18.5863L20.2925 12.2925C20.3854 12.1995 20.4957 12.1258 20.6171 12.0754C20.7385 12.0251 20.8686 11.9992 21 11.9992C21.1314 11.9992 21.2615 12.0251 21.3829 12.0754C21.5043 12.1258 21.6146 12.1995 21.7075 12.2925ZM29 16C29 18.5712 28.2376 21.0846 26.8091 23.2224C25.3807 25.3603 23.3503 27.0265 20.9749 28.0104C18.5995 28.9944 15.9856 29.2518 13.4638 28.7502C10.9421 28.2486 8.6257 27.0105 6.80762 25.1924C4.98953 23.3743 3.75141 21.0579 3.2498 18.5362C2.74819 16.0144 3.00563 13.4006 3.98957 11.0251C4.97351 8.64968 6.63975 6.61935 8.77759 5.1909C10.9154 3.76244 13.4288 3 16 3C19.4467 3.00364 22.7512 4.37445 25.1884 6.81163C27.6256 9.24882 28.9964 12.5533 29 16ZM27 16C27 13.8244 26.3549 11.6977 25.1462 9.88873C23.9375 8.07979 22.2195 6.66989 20.2095 5.83733C18.1995 5.00476 15.9878 4.78692 13.854 5.21136C11.7202 5.6358 9.76021 6.68345 8.22183 8.22183C6.68345 9.7602 5.63581 11.7202 5.21137 13.854C4.78693 15.9878 5.00477 18.1995 5.83733 20.2095C6.66989 22.2195 8.07979 23.9375 9.88873 25.1462C11.6977 26.3549 13.8244 27 16 27C18.9164 26.9967 21.7123 25.8367 23.7745 23.7745C25.8367 21.7123 26.9967 18.9164 27 16Z' fill='%23C80909'/%3E%3C/svg%3E") no-repeat center;
}

.eligibility__bottom p {
    font-size: 16px;
    line-height: 1.5;
    color: #10243D;
    text-align: center;
}

.eligibility__bottom {
    margin-top: 64px;
}

.eligibility__bottom .btn-primary {
    width: fit-content;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1023px) {
    .pd-gobal-ct {
        padding: 80px 0;
    }
    .section-sovereign__number {
        font-size: 52px;
    }
    .section-sovereign__subtitle {
        font-size: 16px;
        margin-bottom: 12px;
    }
    .section-sovereign__box {
        padding: 24px 24px 18px;
    }
    .travel-freedom__name {
        font-size: 26px;
    }
    .section-sovereign__bottom {
        grid-template-columns: repeat(2, 1fr);
    }
    .travel-freedom__item {
        width: calc((100% - 24px) / 2);
    }
    .financial-banking__list li {
        width: 100%!important;
    }
    .the-legal__flex,
    .section-sovereign__flex {
        gap: 57px;
    }
    .financial-banking__list-flex {
        flex-direction: column;
    }
    .financial-banking__list ul:nth-child(2n) {
        width: 100%
    }
}

@media (max-width: 767px) {
    .financial-banking__left,
    .financial-banking__right {
        width: 100%;
    }
    .banner-vanuatu__subtitle {
        font-size: 26px;
    }
    .banner-vanuatu {
        padding-bottom: 56px;
    }
    .banner-vanuatu .heading-1 {
        margin-bottom: 20px;
    }
    .section-sovereign__left {
        width: 100%;
        aspect-ratio: 343 / 500;
    }
    .section-sovereign__right .heading-4 {
        margin-bottom: 15px;
        margin-top: 26px;
    }
    .text-ct p,
    .financial-banking__content p {
        margin-bottom: 24px;
    }
    .section-sovereign__flex {
        gap: 30px;
    }
    .section-sovereign__bottom {
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-vanuatu__des,
    .travel-freedom__des,
    .travel-freedom__des p {
        font-size: 15px;
    }
    .travel-freedom_wrap .label-section {
        font-size: 16px;
        margin-bottom: 23px;
    }
    .travel-freedom__width .heading-2 {
        margin-bottom: 14px;
    }
    .travel-freedom__item {
        width: 100%;
    }
    .travel-freedom__width {
        margin-bottom: 34px;
    }
    .travel-freedom__image {
        aspect-ratio: 278 / 152;
    }
    .travel-freedom__name {
        margin-top: 17px;
        margin-bottom: 10px;
    }
    .travel-freedom__bottom,
    .financial-banking .label-section,
    .financial-banking__list li,
    .quality-life__box .label-section,
    .label-section {
        font-size: 16px;
    }
    .financial-banking__left,
    .financial-banking__right {
        padding: 25px 24px;
    }
    .financial-banking__flex .heading-4 {
        margin: 16px 0 15px;
    }
    .financial-banking__list p {
        margin: 0 0 22px;
    }
    .financial-banking__list ul:nth-child(1) {
        gap: 20px;
    }
    .financial-banking__list ul {
        gap: 9px 24px;
    }
    .financial-banking__list {
        margin-bottom: 22px;
    }
    .financial-banking__bottom {
        padding: 25px 24px;
    }
    .the-legal__flex {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .the-legal__right {
        width: 100%;
    }
    .quality-life__box p {
        font-size: 18px;
        margin-bottom: 27px;
    }
    .quality-life__box {
        padding: 23px 32px 25px;
    }
    .quality-life__box .heading-2 {
        margin: 24px 0 21px;
    }
    .the-legal {
        padding-top: 0px;
    }
    .the-legal__left .heading-4 {
        margin: 15px 0;
    }
}